{
  "openapi": "3.0.0",
  "info": {
    "title": "pague.dev API",
    "description": "pague.dev Payment API documentation",
    "version": "1.0",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api-gateway.pague.dev/v2"
    }
  ],
  "paths": {
    "/auth": {
      "post": {
        "operationId": "ExternalAuthController_authenticate",
        "summary": "Generate Access Token",
        "description": "Exchanges your credential's `client_id` and `client_secret` for a short-lived access token. Send the returned token in the `Authorization: Bearer <access_token>` header of subsequent requests.\n\nThe token expires in **300 seconds (5 minutes)** — generate a new one when it expires; there is no refresh token.",
        "tags": [
          "Autenticação"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "client_id": {
                    "type": "string",
                    "description": "Credential identifier (mp_live_* production, mp_test_* sandbox)",
                    "example": "mp_live_0123456789abcdef01234567"
                  },
                  "client_secret": {
                    "type": "string",
                    "description": "Credential secret (shown only once at creation)"
                  }
                },
                "required": [
                  "client_id",
                  "client_secret"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "access_token": {
                      "type": "string",
                      "description": "JWT token to use in the Authorization header",
                      "example": "eyJhbGciOiJSUzI1NiIs..."
                    },
                    "token_type": {
                      "type": "string",
                      "example": "Bearer"
                    },
                    "expires_in": {
                      "type": "integer",
                      "description": "Token validity in seconds",
                      "example": 300
                    }
                  },
                  "required": [
                    "access_token",
                    "token_type",
                    "expires_in"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Missing client_id or client_secret",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "example": {
                    "error": "Bad Request",
                    "message": "client_id and client_secret are required"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid or revoked credential, or incorrect secret",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "example": {
                    "error": "Unauthorized",
                    "message": "Invalid credentials"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/pix": {
      "post": {
        "description": "Creates an instant PIX charge.\n\n**Required permission:** `PIX:WRITE` or `FULL_ACCESS`",
        "operationId": "ExternalPixController_createCharge",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Unique client-provided key (8-255 chars) that makes the request idempotent. Retries with the same key return the cached response (24h TTL). The same key with a different body returns 422.",
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 255
            }
          },
          {
            "$ref": "#/components/parameters/SubAccount"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePixChargeInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "PIX charge created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePixChargeOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Create a PIX charge",
        "tags": [
          "External API - PIX"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/projects": {
      "post": {
        "description": "Creates a new project.\n\n**Required permission:** `PROJECT:WRITE` or `FULL_ACCESS`",
        "operationId": "ExternalProjectsController_createProject",
        "parameters": [
          {
            "$ref": "#/components/parameters/SubAccount"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProjectInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Project created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateProjectOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict - Resource already exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConflictErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Create a project",
        "tags": [
          "External API - Projects"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "get": {
        "description": "Returns a paginated list of projects.\n\n**Required permission:** `PROJECT:READ` or `FULL_ACCESS`",
        "operationId": "ExternalProjectsController_getAllProjects",
        "parameters": [
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "Page number",
            "schema": {
              "minimum": 1,
              "default": 1,
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "description": "Items per page",
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "default": 20,
              "type": "integer"
            }
          },
          {
            "name": "sortBy",
            "required": false,
            "in": "query",
            "description": "Sort by field",
            "schema": {
              "default": "createdAt",
              "type": "string",
              "enum": [
                "createdAt",
                "updatedAt",
                "name"
              ]
            }
          },
          {
            "name": "sortOrder",
            "required": false,
            "in": "query",
            "description": "Sort order",
            "schema": {
              "default": "desc",
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "$ref": "#/components/parameters/SubAccount"
          }
        ],
        "responses": {
          "200": {
            "description": "List of projects",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAllProjectsOutput"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        },
        "summary": "List projects",
        "tags": [
          "External API - Projects"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/projects/{id}": {
      "get": {
        "description": "Returns the details of a specific project by its ID.\n\n**Required permission:** `PROJECT:READ` or `FULL_ACCESS`",
        "operationId": "ExternalProjectsController_getProject",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "Project ID",
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/SubAccount"
          }
        ],
        "responses": {
          "200": {
            "description": "Project details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetProjectOutput"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Get project by ID",
        "tags": [
          "External API - Projects"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/transactions/{id}": {
      "get": {
        "description": "Returns the details of a specific transaction by its ID.\n\n**Required permission:** `TRANSACTION:READ` or `FULL_ACCESS`",
        "operationId": "ExternalTransactionsController_getTransaction",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "Transaction ID (UUID), your external_reference, or the Idempotency-Key used on creation. Resolved in that order. A withdrawal still processing (no transaction yet) is also resolved by any of these.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/SubAccount"
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTransactionOutput"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Get transaction by ID",
        "tags": [
          "External API - Transactions"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/transactions/{id}/refund": {
      "post": {
        "description": "Requests a full refund of the given payment transaction. The refund is asynchronous — confirmation arrives via the `refund_completed` webhook once the PSP processes it.\n\n**Required permission:** `REFUND:WRITE` or `FULL_ACCESS`",
        "operationId": "ExternalTransactionsController_requestRefund",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "ID of the payment transaction to be refunded",
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/SubAccount"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestRefundInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Refund requested successfully. Status remains PENDING until confirmation via webhook.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestRefundOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Transaction cannot be refunded (already refunded, expired, invalid status, etc.)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Transaction not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Request transaction refund",
        "tags": [
          "External API - Transactions"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/balance-blocks": {
      "get": {
        "description": "Returns the account's balance blocks (MED, judicial, or administrative). Optionally filter by block status.\n\n**Required permission:** `BALANCE_BLOCK:READ` or `FULL_ACCESS`",
        "operationId": "ExternalBalanceBlocksController_findAll",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Filters blocks by status. If omitted, returns all blocks on the account.",
            "schema": {
              "type": "string",
              "enum": [
                "awaiting_response",
                "defended",
                "approved",
                "rejected"
              ]
            }
          },
          {
            "$ref": "#/components/parameters/SubAccount"
          }
        ],
        "responses": {
          "200": {
            "description": "List of the account's balance blocks",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAllExternalBalanceBlocksOutput"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        },
        "summary": "List balance blocks",
        "tags": [
          "External API - Balance Blocks"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/withdrawals": {
      "post": {
        "description": "Creates a new PIX withdrawal by providing the PIX key and destination account holder details.\n\n**Required permission:** `WITHDRAWAL:WRITE` or `FULL_ACCESS`\n\n**IP restriction:** If the credential has an allowed IP list configured, requests from outside of it are rejected with `403`. Recommended for credentials with this permission.",
        "operationId": "ExternalWithdrawalsController_create",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Unique client-provided key (8-255 chars) that makes the request idempotent. Retries with the same key return the cached response (24h TTL). The same key with a different body returns 422.",
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 255
            }
          },
          {
            "$ref": "#/components/parameters/SubAccount"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateExternalWithdrawalInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Withdrawal created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetExternalWithdrawalOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Permission denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Create a PIX withdrawal",
        "tags": [
          "External API - Withdrawals (Saques)"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/account": {
      "get": {
        "description": "Returns the account details, company information, and available balance.\n\n**Required permission:** `ACCOUNT:READ` or `FULL_ACCESS`",
        "operationId": "ExternalAccountController_getAccountInfo",
        "parameters": [
          {
            "$ref": "#/components/parameters/SubAccount"
          }
        ],
        "responses": {
          "200": {
            "description": "Account details and balance",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAccountInfoOutput"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Permission denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Account not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Get account details and balance",
        "tags": [
          "External API - Account (Conta)"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/sub-accounts": {
      "post": {
        "description": "Creates a sub-account with its own balance, fully independent from the main account balance.\n\n**Required permission:** `SUBACCOUNT:WRITE` or `FULL_ACCESS`",
        "operationId": "ExternalSubAccountsController_createSubAccount",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSubAccountInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Sub-account created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSubAccountOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Permission denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict - `reference` already used in this account (`SUB_ACCOUNT_REFERENCE_TAKEN`) or sub-account limit reached (`SUB_ACCOUNT_QUOTA_EXCEEDED`)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConflictErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Create a sub-account",
        "tags": [
          "External API - Sub-accounts (Subcontas)"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "get": {
        "description": "Returns the sub-accounts of the account.\n\n**Required permission:** `SUBACCOUNT:READ` or `FULL_ACCESS`",
        "operationId": "ExternalSubAccountsController_getAllSubAccounts",
        "responses": {
          "200": {
            "description": "List of sub-accounts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAllSubAccountsOutput"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Permission denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        },
        "summary": "List sub-accounts",
        "tags": [
          "External API - Sub-accounts (Subcontas)"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Access token obtained from POST /auth (client_id + client_secret). Valid for 300 seconds."
      }
    },
    "parameters": {
      "SubAccount": {
        "name": "X-Sub-Account",
        "in": "header",
        "required": false,
        "description": "Reference of the sub-account the operation runs against. When omitted, the operation happens on the main account; the reserved value `principal` also resolves to the main account and is equivalent to omitting the header. Accepted on every endpoint except `POST /auth` and the `/sub-accounts` endpoints themselves, which always operate on the main account.\n\nPossible errors: `404 SUB_ACCOUNT_NOT_FOUND`, `403 SUB_ACCOUNT_FORBIDDEN`, `403 SUB_ACCOUNT_SUSPENDED`.\n\nRequires the credential to have **sub-account access** enabled (Settings → Integration → API Credentials). It starts turned off and is not replaced by any permission, not even `FULL_ACCESS`: without it the response is `403 SUB_ACCOUNT_FORBIDDEN`.",
        "schema": {
          "type": "string",
          "pattern": "^[a-z0-9][a-z0-9_-]{1,31}$",
          "example": "loja-centro"
        }
      }
    },
    "schemas": {
      "GetWebhookLogOutput": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Webhook log ID"
          },
          "webhookEndpointId": {
            "type": "string",
            "description": "Webhook endpoint ID"
          },
          "accountId": {
            "type": "string",
            "description": "Account ID"
          },
          "eventType": {
            "type": "string",
            "description": "Event type"
          },
          "eventId": {
            "type": "string",
            "description": "Event ID"
          },
          "status": {
            "type": "string",
            "description": "Delivery status",
            "enum": [
              "success",
              "failed",
              "pending",
              "retrying"
            ]
          },
          "url": {
            "type": "string",
            "description": "Target URL"
          },
          "httpStatus": {
            "type": "object",
            "description": "HTTP status code"
          },
          "requestHeaders": {
            "type": "object",
            "description": "Request headers"
          },
          "requestPayload": {
            "type": "object",
            "description": "Request payload"
          },
          "responseHeaders": {
            "type": "object",
            "description": "Response headers"
          },
          "responseBody": {
            "type": "object",
            "description": "Response body"
          },
          "attempts": {
            "type": "number",
            "description": "Number of delivery attempts"
          },
          "maxAttempts": {
            "type": "number",
            "description": "Maximum delivery attempts"
          },
          "createdAt": {
            "type": "string",
            "description": "Creation timestamp"
          },
          "lastAttemptAt": {
            "type": "object",
            "description": "Last attempt timestamp"
          },
          "nextRetryAt": {
            "type": "object",
            "description": "Next retry timestamp"
          },
          "durationMs": {
            "type": "object",
            "description": "Request duration in milliseconds"
          }
        },
        "required": [
          "id",
          "webhookEndpointId",
          "accountId",
          "eventType",
          "eventId",
          "status",
          "url",
          "requestHeaders",
          "requestPayload",
          "attempts",
          "maxAttempts",
          "createdAt"
        ]
      },
      "PaginationMeta": {
        "type": "object",
        "properties": {
          "page": {
            "type": "number",
            "example": 1,
            "description": "Current page number"
          },
          "limit": {
            "type": "number",
            "example": 20,
            "description": "Items per page"
          },
          "total": {
            "type": "number",
            "example": 100,
            "description": "Total number of items"
          },
          "totalPages": {
            "type": "number",
            "example": 5,
            "description": "Total number of pages"
          },
          "hasNextPage": {
            "type": "boolean",
            "example": true,
            "description": "Whether there is a next page"
          },
          "hasPreviousPage": {
            "type": "boolean",
            "example": false,
            "description": "Whether there is a previous page"
          }
        },
        "required": [
          "page",
          "limit",
          "total",
          "totalPages",
          "hasNextPage",
          "hasPreviousPage"
        ]
      },
      "GetAllWebhookLogsOutput": {
        "type": "object",
        "properties": {
          "items": {
            "description": "List of webhook logs",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GetWebhookLogOutput"
            }
          },
          "meta": {
            "description": "Pagination metadata",
            "allOf": [
              {
                "$ref": "#/components/schemas/PaginationMeta"
              }
            ]
          }
        },
        "required": [
          "items",
          "meta"
        ]
      },
      "BadRequestErrorResponse": {
        "type": "object",
        "properties": {
          "statusCode": {
            "type": "number",
            "example": 400
          },
          "error": {
            "type": "string",
            "example": "BadRequest"
          },
          "message": {
            "type": "string",
            "example": "name must be longer than or equal to 2 characters"
          },
          "details": {
            "type": "object"
          },
          "timestamp": {
            "type": "string",
            "example": "2025-12-15T22:00:00.000Z"
          },
          "traceId": {
            "type": "string"
          }
        },
        "required": [
          "statusCode",
          "error",
          "message",
          "timestamp"
        ]
      },
      "InternalServerErrorResponse": {
        "type": "object",
        "properties": {
          "statusCode": {
            "type": "number",
            "example": 500
          },
          "error": {
            "type": "string",
            "example": "InternalError"
          },
          "message": {
            "type": "string",
            "example": "An unexpected error occurred"
          },
          "details": {
            "type": "object"
          },
          "timestamp": {
            "type": "string",
            "example": "2025-12-15T22:00:00.000Z"
          },
          "traceId": {
            "type": "string",
            "example": "2771463d58840c8e116dc6dda1e1e5d0"
          }
        },
        "required": [
          "statusCode",
          "error",
          "message",
          "timestamp"
        ]
      },
      "NotFoundErrorResponse": {
        "type": "object",
        "properties": {
          "statusCode": {
            "type": "number",
            "example": 404
          },
          "error": {
            "type": "string",
            "example": "NotFound"
          },
          "message": {
            "type": "string",
            "example": "Resource with id 550e8400-e29b-41d4-a716-446655440000 not found"
          },
          "details": {
            "type": "object",
            "example": {
              "resource": "Example",
              "id": "550e8400-e29b-41d4-a716-446655440000"
            }
          },
          "timestamp": {
            "type": "string",
            "example": "2025-12-15T22:00:00.000Z"
          },
          "traceId": {
            "type": "string"
          }
        },
        "required": [
          "statusCode",
          "error",
          "message",
          "timestamp"
        ]
      },
      "CreateTransactionInput": {
        "type": "object",
        "properties": {
          "projectId": {
            "type": "string",
            "description": "Project ID"
          },
          "clientId": {
            "type": "string",
            "description": "Client ID"
          },
          "paymentLinkId": {
            "type": "string",
            "description": "Payment link ID"
          },
          "subscriptionId": {
            "type": "string",
            "description": "Subscription ID"
          },
          "invoiceId": {
            "type": "string",
            "description": "Invoice ID"
          },
          "pspCredentialId": {
            "type": "string",
            "description": "PSP Credential ID that processed this transaction"
          },
          "date": {
            "type": "string",
            "description": "Transaction date"
          },
          "amount": {
            "type": "number",
            "description": "Amount in cents"
          },
          "feeAmount": {
            "type": "number",
            "description": "Fee amount in cents",
            "default": 0
          },
          "netAmount": {
            "type": "number",
            "description": "Net amount in cents"
          },
          "currency": {
            "type": "string",
            "description": "Currency code",
            "default": "BRL"
          },
          "type": {
            "type": "string",
            "description": "Transaction type",
            "enum": [
              "payment",
              "fee",
              "refund",
              "chargeback",
              "withdrawal",
              "adjustment"
            ]
          },
          "status": {
            "type": "string",
            "description": "Transaction status",
            "enum": [
              "completed",
              "pending",
              "failed",
              "cancelled"
            ]
          },
          "paymentMethod": {
            "type": "string",
            "description": "Payment method",
            "enum": [
              "ask_customer",
              "pix",
              "credit_card",
              "boleto"
            ]
          },
          "installmentNumber": {
            "type": "number",
            "description": "Installment number"
          },
          "installmentTotal": {
            "type": "number",
            "description": "Total installments"
          },
          "description": {
            "type": "string",
            "description": "Transaction description"
          },
          "failureReason": {
            "type": "string",
            "description": "Failure reason (for failed transactions)"
          },
          "parentTransactionId": {
            "type": "string",
            "description": "Parent transaction ID (for fees linked to payments/withdrawals)"
          },
          "metadata": {
            "type": "object",
            "description": "Additional metadata"
          },
          "ledgerTransferId": {
            "type": "string",
            "description": "Ledger transfer ID"
          },
          "ledgerSyncStatus": {
            "type": "string",
            "description": "Ledger sync status",
            "enum": [
              "pending",
              "synced",
              "failed"
            ]
          },
          "ledgerSyncedAt": {
            "type": "string",
            "description": "Ledger synced timestamp"
          }
        },
        "required": [
          "date",
          "amount",
          "netAmount",
          "type",
          "status",
          "description"
        ]
      },
      "GetTransactionOutput": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Transaction ID",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "description": "Transaction status",
            "enum": [
              "pending",
              "completed",
              "failed",
              "cancelled"
            ]
          },
          "type": {
            "type": "string",
            "description": "Transaction type. `internal_transfer` is a movement between accounts under the same ownership — an internal transfer or a split leg — and does not travel over PIX.",
            "enum": [
              "payment",
              "fee",
              "refund",
              "chargeback",
              "withdrawal",
              "adjustment",
              "referral_commission",
              "internal_transfer"
            ]
          },
          "paymentMethod": {
            "type": "string",
            "description": "Payment method used",
            "enum": [
              "pix",
              "credit_card",
              "boleto"
            ]
          },
          "amount": {
            "type": "number",
            "description": "Amount in BRL",
            "example": 150.75
          },
          "currency": {
            "type": "string",
            "description": "Currency code",
            "example": "BRL"
          },
          "description": {
            "type": "string",
            "description": "Transaction description"
          },
          "externalReference": {
            "type": "string",
            "description": "Your external reference ID",
            "example": "pedido-12345"
          },
          "customerId": {
            "type": "string",
            "description": "Client ID",
            "format": "uuid"
          },
          "projectId": {
            "type": "string",
            "description": "Project ID",
            "format": "uuid"
          },
          "metadata": {
            "type": "object",
            "description": "Custom metadata (key-value pairs)",
            "additionalProperties": true,
            "example": {
              "orderId": "12345",
              "source": "website"
            }
          },
          "pixCopyPaste": {
            "type": "string",
            "description": "PIX copy-and-paste code (only for pending PIX transactions)",
            "example": "00020126580014br.gov.bcb.pix0136a1b2c3d4-e5f6-7890-abcd-ef1234567890"
          },
          "expiresAt": {
            "type": "string",
            "description": "Expiration date (only for pending transactions)",
            "format": "date-time"
          },
          "paidAt": {
            "type": "string",
            "description": "Date the transaction was paid",
            "format": "date-time"
          },
          "e2eId": {
            "type": "string",
            "description": "PIX network end-to-end ID (present once the PSP has confirmed)",
            "example": "E18189547202603160145ZYFfVx3jP8D"
          },
          "counterpartName": {
            "type": "string",
            "description": "Counterpart name as returned by the PSP (payer on cash-in, recipient on withdrawal)",
            "example": "Maria Silva"
          },
          "counterpartDocument": {
            "type": "string",
            "description": "Counterpart CPF/CNPJ, unmasked",
            "example": "12345678900"
          },
          "createdAt": {
            "type": "string",
            "description": "Creation date",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "description": "Last update date",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "status",
          "type",
          "paymentMethod",
          "amount",
          "currency",
          "createdAt"
        ]
      },
      "GetAllTransactionsOutput": {
        "type": "object",
        "properties": {
          "items": {
            "description": "List of transactions",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GetTransactionOutput"
            }
          },
          "meta": {
            "description": "Pagination metadata",
            "allOf": [
              {
                "$ref": "#/components/schemas/PaginationMeta"
              }
            ]
          }
        },
        "required": [
          "items",
          "meta"
        ]
      },
      "LedgerAccountOutput": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Ledger account ID (PostgreSQL UUID)"
          },
          "accountId": {
            "type": "object",
            "description": "Account ID (null for system accounts)",
            "nullable": true
          },
          "type": {
            "type": "string",
            "description": "Account type",
            "enum": [
              "available",
              "held",
              "credits",
              "external_world",
              "treasury",
              "grants",
              "treasury_sandbox",
              "external_world_sandbox"
            ]
          },
          "tigerBeetleId": {
            "type": "string",
            "description": "TigerBeetle 128-bit account ID (as string)"
          },
          "ledger": {
            "type": "number",
            "description": "Ledger number"
          },
          "code": {
            "type": "number",
            "description": "Account code"
          },
          "createdAt": {
            "type": "string",
            "description": "Creation timestamp"
          }
        },
        "required": [
          "id",
          "accountId",
          "type",
          "tigerBeetleId",
          "ledger",
          "code",
          "createdAt"
        ]
      },
      "CreateUserAccountsOutput": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "Account ID (from JWT)"
          },
          "available": {
            "description": "Available balance account",
            "allOf": [
              {
                "$ref": "#/components/schemas/LedgerAccountOutput"
              }
            ]
          },
          "held": {
            "description": "Held funds account",
            "allOf": [
              {
                "$ref": "#/components/schemas/LedgerAccountOutput"
              }
            ]
          },
          "credits": {
            "description": "Promotional credits account",
            "allOf": [
              {
                "$ref": "#/components/schemas/LedgerAccountOutput"
              }
            ]
          },
          "created": {
            "type": "boolean",
            "description": "Whether accounts were newly created or already existed"
          }
        },
        "required": [
          "accountId",
          "available",
          "held",
          "credits",
          "created"
        ]
      },
      "UnauthorizedErrorResponse": {
        "type": "object",
        "properties": {
          "statusCode": {
            "type": "number",
            "example": 401
          },
          "error": {
            "type": "string",
            "example": "Unauthorized"
          },
          "message": {
            "type": "string",
            "example": "Authentication token is required"
          },
          "details": {
            "type": "object"
          },
          "timestamp": {
            "type": "string",
            "example": "2025-12-15T22:00:00.000Z"
          },
          "traceId": {
            "type": "string"
          }
        },
        "required": [
          "statusCode",
          "error",
          "message",
          "timestamp"
        ]
      },
      "AccountBalanceOutput": {
        "type": "object",
        "properties": {
          "tigerBeetleId": {
            "type": "string",
            "description": "TigerBeetle account ID (as string)"
          },
          "type": {
            "type": "string",
            "description": "Account type"
          },
          "debitsPending": {
            "type": "string",
            "description": "Debits pending (in cents)"
          },
          "debitsPosted": {
            "type": "string",
            "description": "Debits posted (in cents)"
          },
          "creditsPending": {
            "type": "string",
            "description": "Credits pending (in cents)"
          },
          "creditsPosted": {
            "type": "string",
            "description": "Credits posted (in cents)"
          },
          "balance": {
            "type": "string",
            "description": "Available balance (credits_posted - debits_posted) in cents"
          }
        },
        "required": [
          "tigerBeetleId",
          "type",
          "debitsPending",
          "debitsPosted",
          "creditsPending",
          "creditsPosted",
          "balance"
        ]
      },
      "GetUserBalanceOutput": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "Account ID"
          },
          "available": {
            "description": "Available balance account",
            "allOf": [
              {
                "$ref": "#/components/schemas/AccountBalanceOutput"
              }
            ]
          },
          "held": {
            "description": "Held funds account",
            "allOf": [
              {
                "$ref": "#/components/schemas/AccountBalanceOutput"
              }
            ]
          },
          "credits": {
            "description": "Promotional credits account",
            "allOf": [
              {
                "$ref": "#/components/schemas/AccountBalanceOutput"
              }
            ]
          },
          "totalBalance": {
            "type": "string",
            "description": "Total available balance (available + credits) in cents"
          }
        },
        "required": [
          "accountId",
          "available",
          "held",
          "credits",
          "totalBalance"
        ]
      },
      "GetSystemBalanceOutput": {
        "type": "object",
        "properties": {
          "externalWorld": {
            "description": "External world account (source/sink for payments)",
            "allOf": [
              {
                "$ref": "#/components/schemas/AccountBalanceOutput"
              }
            ]
          },
          "externalWorldSandbox": {
            "description": "External world sandbox account (source/sink for sandbox payments)",
            "allOf": [
              {
                "$ref": "#/components/schemas/AccountBalanceOutput"
              }
            ]
          },
          "treasury": {
            "description": "Treasury account (platform fees)",
            "allOf": [
              {
                "$ref": "#/components/schemas/AccountBalanceOutput"
              }
            ]
          },
          "treasurySandbox": {
            "description": "Treasury sandbox account (platform fees from sandbox)",
            "allOf": [
              {
                "$ref": "#/components/schemas/AccountBalanceOutput"
              }
            ]
          },
          "grants": {
            "description": "Grants account (promotional credits)",
            "allOf": [
              {
                "$ref": "#/components/schemas/AccountBalanceOutput"
              }
            ]
          }
        },
        "required": [
          "externalWorld",
          "externalWorldSandbox",
          "treasury",
          "treasurySandbox",
          "grants"
        ]
      },
      "CreateTransferInput": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "Amount in cents",
            "example": 10000
          },
          "methodKey": {
            "type": "string",
            "description": "Payment method key",
            "example": "pix"
          },
          "projectId": {
            "type": "string",
            "description": "Project ID for project-specific fee lookup"
          },
          "description": {
            "type": "string",
            "description": "Transfer description"
          },
          "metadata": {
            "type": "object",
            "description": "Additional metadata"
          }
        },
        "required": [
          "amount",
          "methodKey"
        ]
      },
      "TransferOutput": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Transfer ID (PostgreSQL UUID)"
          },
          "tigerBeetleId": {
            "type": "string",
            "description": "TigerBeetle transfer ID (as string)"
          },
          "accountId": {
            "type": "string",
            "description": "Account ID"
          },
          "type": {
            "type": "string",
            "description": "Transfer type",
            "enum": [
              "payment",
              "fee",
              "settlement"
            ]
          },
          "status": {
            "type": "string",
            "description": "Transfer status",
            "enum": [
              "pending",
              "posted",
              "voided"
            ]
          },
          "debitAccountId": {
            "type": "string",
            "description": "Debit ledger account ID"
          },
          "creditAccountId": {
            "type": "string",
            "description": "Credit ledger account ID"
          },
          "amount": {
            "type": "number",
            "description": "Gross amount in cents"
          },
          "feeAmount": {
            "type": "number",
            "description": "Fee amount in cents"
          },
          "netAmount": {
            "type": "number",
            "description": "Net amount in cents (amount - feeAmount)"
          },
          "balanceImpact": {
            "type": "number",
            "description": "Balance impact in cents (withdrawals: amount + feeAmount debited, payments: netAmount credited)"
          },
          "methodKey": {
            "type": "object",
            "description": "Payment method key"
          },
          "description": {
            "type": "object",
            "description": "Transfer description"
          },
          "linkedTransferId": {
            "type": "object",
            "description": "Linked transfer ID (for fee transfers)"
          },
          "metadata": {
            "type": "object",
            "description": "Additional metadata"
          },
          "createdAt": {
            "type": "string",
            "description": "Creation timestamp"
          },
          "postedAt": {
            "type": "object",
            "description": "Posted timestamp"
          },
          "voidedAt": {
            "type": "object",
            "description": "Voided timestamp"
          },
          "feeTransferId": {
            "type": "object",
            "description": "Fee transfer ID (if fee was charged)"
          }
        },
        "required": [
          "id",
          "tigerBeetleId",
          "accountId",
          "type",
          "status",
          "debitAccountId",
          "creditAccountId",
          "amount",
          "feeAmount",
          "netAmount",
          "balanceImpact",
          "createdAt"
        ]
      },
      "CreateLedgerWithdrawalInput": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "Amount to withdraw in cents",
            "example": 10000
          },
          "methodKey": {
            "type": "string",
            "description": "Withdrawal method key",
            "example": "withdrawal"
          },
          "description": {
            "type": "string",
            "description": "Withdrawal description"
          },
          "metadata": {
            "type": "object",
            "description": "Additional metadata"
          },
          "timeout": {
            "type": "number",
            "description": "Timeout in seconds for pending withdrawal auto-void (0 = no timeout)",
            "example": 86400,
            "minimum": 0,
            "maximum": 2592000
          }
        },
        "required": [
          "amount",
          "methodKey"
        ]
      },
      "CreateFeeInput": {
        "type": "object",
        "properties": {
          "projectId": {
            "type": "string",
            "description": "Project ID (optional, null for account-wide fee)"
          },
          "methodKey": {
            "type": "string",
            "description": "Fee method key",
            "enum": [
              "pix",
              "credit_card",
              "boleto",
              "withdrawal",
              "refund"
            ],
            "example": "pix"
          },
          "methodDisplayName": {
            "type": "string",
            "description": "Display name for the payment method",
            "example": "PIX"
          },
          "fixedFee": {
            "type": "number",
            "description": "Fixed fee in cents",
            "default": 0,
            "example": 100
          },
          "percentFee": {
            "type": "string",
            "description": "Percentage fee (0.00 to 100.00)",
            "default": "0",
            "example": "2.50"
          },
          "minFee": {
            "type": "number",
            "description": "Minimum fee in cents",
            "example": 50
          },
          "maxFee": {
            "type": "number",
            "description": "Maximum fee in cents",
            "example": 5000
          },
          "settlementDays": {
            "type": "number",
            "description": "Settlement days",
            "default": 0,
            "example": 1
          },
          "isActive": {
            "type": "boolean",
            "description": "Is fee active",
            "default": true
          }
        },
        "required": [
          "methodKey",
          "methodDisplayName"
        ]
      },
      "GetFeeOutput": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Fee ID"
          },
          "accountId": {
            "type": "string",
            "description": "Account ID"
          },
          "projectId": {
            "type": "object",
            "description": "Project ID (null for account-wide fee)"
          },
          "methodKey": {
            "type": "string",
            "description": "Payment method key"
          },
          "methodDisplayName": {
            "type": "string",
            "description": "Display name for the payment method"
          },
          "fixedFee": {
            "type": "number",
            "description": "Fixed fee in cents"
          },
          "percentFee": {
            "type": "string",
            "description": "Percentage fee"
          },
          "minFee": {
            "type": "object",
            "description": "Minimum fee in cents"
          },
          "maxFee": {
            "type": "object",
            "description": "Maximum fee in cents"
          },
          "settlementDays": {
            "type": "number",
            "description": "Settlement days"
          },
          "isActive": {
            "type": "boolean",
            "description": "Is fee active"
          },
          "createdAt": {
            "type": "string",
            "description": "Creation timestamp"
          },
          "updatedAt": {
            "type": "object",
            "description": "Last update timestamp"
          }
        },
        "required": [
          "id",
          "accountId",
          "methodKey",
          "methodDisplayName",
          "fixedFee",
          "percentFee",
          "settlementDays",
          "isActive",
          "createdAt"
        ]
      },
      "ConflictErrorResponse": {
        "type": "object",
        "properties": {
          "statusCode": {
            "type": "number",
            "example": 409
          },
          "error": {
            "type": "string",
            "example": "Conflict"
          },
          "message": {
            "type": "string",
            "example": "Resource with name 'Example' already exists"
          },
          "details": {
            "type": "object",
            "example": {
              "resource": "Example",
              "field": "name",
              "value": "Example"
            }
          },
          "timestamp": {
            "type": "string",
            "example": "2025-12-15T22:00:00.000Z"
          },
          "traceId": {
            "type": "string"
          }
        },
        "required": [
          "statusCode",
          "error",
          "message",
          "timestamp"
        ]
      },
      "GetAllFeesOutput": {
        "type": "object",
        "properties": {
          "items": {
            "description": "List of fees",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GetFeeOutput"
            }
          },
          "meta": {
            "description": "Pagination metadata",
            "allOf": [
              {
                "$ref": "#/components/schemas/PaginationMeta"
              }
            ]
          }
        },
        "required": [
          "items",
          "meta"
        ]
      },
      "UpdateFeeInput": {
        "type": "object",
        "properties": {
          "projectId": {
            "type": "object",
            "description": "Project ID (null for account-wide fee)"
          },
          "methodKey": {
            "type": "string",
            "description": "Fee method key",
            "enum": [
              "pix",
              "credit_card",
              "boleto",
              "withdrawal",
              "refund"
            ],
            "example": "pix"
          },
          "methodDisplayName": {
            "type": "string",
            "description": "Display name for the payment method",
            "example": "PIX"
          },
          "fixedFee": {
            "type": "number",
            "description": "Fixed fee in cents",
            "example": 100
          },
          "percentFee": {
            "type": "string",
            "description": "Percentage fee (0.00 to 100.00)",
            "example": "2.50"
          },
          "minFee": {
            "type": "object",
            "description": "Minimum fee in cents",
            "example": 50
          },
          "maxFee": {
            "type": "object",
            "description": "Maximum fee in cents",
            "example": 5000
          },
          "settlementDays": {
            "type": "number",
            "description": "Settlement days",
            "example": 1
          },
          "isActive": {
            "type": "boolean",
            "description": "Is fee active"
          }
        }
      },
      "CreateAccountInput": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Account status",
            "enum": [
              "approved",
              "pending",
              "rejected",
              "suspended"
            ],
            "default": "pending",
            "example": "pending"
          }
        }
      },
      "CreateAccountOutput": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "status": {
            "type": "string",
            "example": "pending",
            "enum": [
              "approved",
              "pending",
              "rejected",
              "suspended"
            ]
          },
          "createdAt": {
            "type": "string",
            "example": "2025-12-15T22:00:00.000Z"
          }
        },
        "required": [
          "id",
          "status",
          "createdAt"
        ]
      },
      "AccountItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "status": {
            "type": "string",
            "example": "pending",
            "enum": [
              "approved",
              "pending",
              "rejected",
              "suspended"
            ]
          },
          "createdAt": {
            "type": "string",
            "example": "2025-12-15T22:00:00.000Z"
          }
        },
        "required": [
          "id",
          "status",
          "createdAt"
        ]
      },
      "GetAllAccountsOutput": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AccountItem"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        },
        "required": [
          "items",
          "meta"
        ]
      },
      "GetAccountOutput": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "status": {
            "type": "string",
            "example": "pending",
            "enum": [
              "approved",
              "pending",
              "rejected",
              "suspended"
            ]
          },
          "createdAt": {
            "type": "string",
            "example": "2025-12-15T22:00:00.000Z"
          },
          "updatedAt": {
            "type": "string",
            "example": "2025-12-15T22:00:00.000Z"
          }
        },
        "required": [
          "id",
          "status",
          "createdAt"
        ]
      },
      "UpdateAccountInput": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Account status",
            "enum": [
              "approved",
              "pending",
              "rejected",
              "suspended"
            ],
            "example": "approved"
          }
        }
      },
      "AsaasCredentialsInput": {
        "type": "object",
        "properties": {
          "apiKey": {
            "type": "string",
            "description": "Asaas API key",
            "example": "$aact_YourApiKey"
          },
          "sandbox": {
            "type": "boolean",
            "description": "Use sandbox environment (homologation)",
            "default": false
          }
        },
        "required": [
          "apiKey"
        ]
      },
      "PaymentMethodConfigOutput": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Configuration ID",
            "format": "uuid"
          },
          "paymentMethod": {
            "type": "string",
            "enum": [
              "pix",
              "credit_card",
              "boleto"
            ],
            "description": "Payment method"
          },
          "pspCredentialId": {
            "type": "string",
            "description": "PSP credential ID",
            "format": "uuid"
          },
          "isEnabled": {
            "type": "boolean",
            "description": "Whether method is enabled"
          },
          "isDefault": {
            "type": "boolean",
            "description": "Whether this is the default PSP for the payment method"
          },
          "settings": {
            "type": "object",
            "description": "Method-specific settings"
          },
          "createdAt": {
            "type": "string",
            "description": "Creation timestamp",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "description": "Last update timestamp",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "paymentMethod",
          "pspCredentialId",
          "isEnabled",
          "isDefault",
          "createdAt"
        ]
      },
      "GetAccountPaymentMethodsOutput": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "Account ID",
            "format": "uuid"
          },
          "methods": {
            "description": "Configured payment methods",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PaymentMethodConfigOutput"
            }
          }
        },
        "required": [
          "accountId",
          "methods"
        ]
      },
      "PaymentMethodSettingsInput": {
        "type": "object",
        "properties": {
          "expirationMinutes": {
            "type": "number",
            "description": "PIX expiration time in minutes",
            "minimum": 5,
            "maximum": 1440
          },
          "maxInstallments": {
            "type": "number",
            "description": "Maximum installments allowed",
            "minimum": 1,
            "maximum": 12
          },
          "minInstallmentValue": {
            "type": "number",
            "description": "Minimum value per installment in cents",
            "minimum": 500
          },
          "daysUntilDue": {
            "type": "number",
            "description": "Days until boleto due date",
            "minimum": 1,
            "maximum": 30
          },
          "instructions": {
            "type": "string",
            "description": "Payment instructions",
            "maxLength": 500
          }
        }
      },
      "ConfigurePaymentMethodInput": {
        "type": "object",
        "properties": {
          "paymentMethod": {
            "type": "string",
            "enum": [
              "pix",
              "credit_card",
              "boleto"
            ],
            "description": "Payment method to configure"
          },
          "pspCredentialId": {
            "type": "string",
            "description": "PSP credential ID to use for this method",
            "format": "uuid"
          },
          "isDefault": {
            "type": "boolean",
            "description": "Set this configuration as default for the payment method",
            "default": false
          },
          "settings": {
            "description": "Method-specific settings",
            "allOf": [
              {
                "$ref": "#/components/schemas/PaymentMethodSettingsInput"
              }
            ]
          }
        },
        "required": [
          "paymentMethod",
          "pspCredentialId"
        ]
      },
      "UpdatePaymentMethodInput": {
        "type": "object",
        "properties": {
          "pspCredentialId": {
            "type": "string",
            "description": "PSP credential ID to use for this method",
            "format": "uuid"
          },
          "settings": {
            "description": "Method-specific settings",
            "allOf": [
              {
                "$ref": "#/components/schemas/PaymentMethodSettingsInput"
              }
            ]
          }
        }
      },
      "SetDefaultPaymentMethodInput": {
        "type": "object",
        "properties": {
          "pspCredentialId": {
            "type": "string",
            "description": "PSP credential ID to set as default",
            "format": "uuid"
          }
        },
        "required": [
          "pspCredentialId"
        ]
      },
      "CreateNotificationInput": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "string",
            "description": "User ID to target specific user"
          },
          "type": {
            "type": "string",
            "description": "Notification type",
            "enum": [
              "payment",
              "refund",
              "chargeback",
              "withdrawal",
              "subscription",
              "system"
            ]
          },
          "title": {
            "type": "string",
            "description": "Notification title"
          },
          "description": {
            "type": "string",
            "description": "Notification description"
          },
          "amount": {
            "type": "number",
            "description": "Related amount in cents"
          },
          "entityType": {
            "type": "string",
            "description": "Related entity type"
          },
          "entityId": {
            "type": "string",
            "description": "Related entity ID"
          }
        },
        "required": [
          "type",
          "title",
          "description"
        ]
      },
      "GetNotificationOutput": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Notification ID"
          },
          "accountId": {
            "type": "string",
            "description": "Account ID"
          },
          "userId": {
            "type": "object",
            "description": "User ID"
          },
          "type": {
            "type": "string",
            "description": "Notification type",
            "enum": [
              "payment",
              "refund",
              "chargeback",
              "withdrawal",
              "subscription",
              "system"
            ]
          },
          "title": {
            "type": "string",
            "description": "Notification title"
          },
          "description": {
            "type": "string",
            "description": "Notification description"
          },
          "amount": {
            "type": "object",
            "description": "Related amount in cents"
          },
          "entityType": {
            "type": "object",
            "description": "Related entity type"
          },
          "entityId": {
            "type": "object",
            "description": "Related entity ID"
          },
          "read": {
            "type": "boolean",
            "description": "Read status"
          },
          "readAt": {
            "type": "object",
            "description": "Read timestamp"
          },
          "createdAt": {
            "type": "string",
            "description": "Creation timestamp"
          }
        },
        "required": [
          "id",
          "accountId",
          "type",
          "title",
          "description",
          "read",
          "createdAt"
        ]
      },
      "GetAllNotificationsOutput": {
        "type": "object",
        "properties": {
          "items": {
            "description": "List of notifications",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GetNotificationOutput"
            }
          },
          "meta": {
            "description": "Pagination metadata",
            "allOf": [
              {
                "$ref": "#/components/schemas/PaginationMeta"
              }
            ]
          }
        },
        "required": [
          "items",
          "meta"
        ]
      },
      "UpdateNotificationInput": {
        "type": "object",
        "properties": {
          "read": {
            "type": "boolean",
            "description": "Mark as read"
          }
        }
      },
      "CreateWebhookEndpointInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Webhook endpoint name"
          },
          "environment": {
            "type": "string",
            "description": "Environment for this webhook",
            "enum": [
              "production",
              "sandbox"
            ],
            "default": "production"
          },
          "url": {
            "type": "string",
            "description": "Webhook URL to receive events"
          },
          "secret": {
            "type": "string",
            "description": "Secret for signing payloads"
          },
          "events": {
            "description": "Events to subscribe to",
            "example": [
              "payment_completed",
              "subscription_created"
            ],
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "headers": {
            "type": "object",
            "description": "Custom headers to send with webhook requests"
          },
          "isActive": {
            "type": "boolean",
            "description": "Whether the endpoint is active",
            "default": true
          }
        },
        "required": [
          "name",
          "environment",
          "url",
          "secret",
          "events"
        ]
      },
      "GetWebhookEndpointOutput": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Webhook endpoint ID"
          },
          "accountId": {
            "type": "string",
            "description": "Account ID"
          },
          "name": {
            "type": "string",
            "description": "Webhook endpoint name"
          },
          "environment": {
            "type": "string",
            "description": "Environment",
            "enum": [
              "production",
              "sandbox"
            ]
          },
          "url": {
            "type": "string",
            "description": "Webhook URL"
          },
          "secretPrefix": {
            "type": "string",
            "description": "Secret prefix (for display)"
          },
          "events": {
            "description": "Subscribed events",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "headers": {
            "type": "object",
            "description": "Custom headers"
          },
          "isActive": {
            "type": "boolean",
            "description": "Whether the endpoint is active"
          },
          "failureCount": {
            "type": "number",
            "description": "Consecutive failure count"
          },
          "lastSuccessAt": {
            "type": "object",
            "description": "Last successful delivery timestamp"
          },
          "lastFailureAt": {
            "type": "object",
            "description": "Last failed delivery timestamp"
          },
          "disabledAt": {
            "type": "object",
            "description": "Disabled timestamp"
          },
          "createdAt": {
            "type": "string",
            "description": "Creation timestamp"
          },
          "updatedAt": {
            "type": "object",
            "description": "Last update timestamp"
          }
        },
        "required": [
          "id",
          "accountId",
          "name",
          "environment",
          "url",
          "secretPrefix",
          "events",
          "isActive",
          "failureCount",
          "createdAt"
        ]
      },
      "GetAllWebhookEndpointsOutput": {
        "type": "object",
        "properties": {
          "items": {
            "description": "List of webhook endpoints",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GetWebhookEndpointOutput"
            }
          },
          "meta": {
            "description": "Pagination metadata",
            "allOf": [
              {
                "$ref": "#/components/schemas/PaginationMeta"
              }
            ]
          }
        },
        "required": [
          "items",
          "meta"
        ]
      },
      "UpdateWebhookEndpointInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Webhook endpoint name"
          },
          "url": {
            "type": "string",
            "description": "Webhook URL"
          },
          "events": {
            "description": "Events to subscribe to",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "headers": {
            "type": "object",
            "description": "Custom headers"
          },
          "isActive": {
            "type": "boolean",
            "description": "Whether the endpoint is active"
          }
        }
      },
      "CreatePaymentLinkInput": {
        "type": "object",
        "properties": {
          "projectId": {
            "type": "string",
            "description": "Project ID"
          },
          "clientId": {
            "type": "string",
            "description": "Client ID (for pre-assigned links)"
          },
          "name": {
            "type": "string",
            "description": "Payment link name",
            "example": "Premium Subscription"
          },
          "description": {
            "type": "string",
            "description": "Payment link description"
          },
          "amount": {
            "type": "number",
            "description": "Amount in cents (null for open amount)"
          },
          "currency": {
            "type": "string",
            "description": "Currency code",
            "default": "BRL"
          },
          "status": {
            "type": "string",
            "description": "Payment link status",
            "enum": [
              "active",
              "expired",
              "disabled",
              "paid"
            ],
            "default": "active"
          },
          "slug": {
            "type": "string",
            "description": "Unique URL slug",
            "example": "premium-2024"
          },
          "paymentType": {
            "type": "string",
            "description": "Payment type",
            "enum": [
              "one_time",
              "subscription"
            ]
          },
          "paymentMethods": {
            "description": "Accepted payment methods",
            "example": [
              "pix",
              "credit_card"
            ],
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "maxInstallments": {
            "type": "number",
            "description": "Maximum number of installments",
            "default": 1
          },
          "recurrenceInterval": {
            "type": "string",
            "description": "Recurrence interval (for subscriptions)",
            "enum": [
              "daily",
              "weekly",
              "biweekly",
              "monthly",
              "quarterly",
              "semiannual",
              "yearly"
            ]
          },
          "recurrenceCount": {
            "type": "number",
            "description": "Number of recurrence cycles (null for indefinite)"
          },
          "notifications": {
            "description": "Notification channels",
            "example": [
              "email",
              "whatsapp"
            ],
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "allowCoupons": {
            "type": "boolean",
            "description": "Allow coupon codes",
            "default": true
          },
          "expiresAt": {
            "type": "string",
            "description": "Link expiration date"
          }
        },
        "required": [
          "projectId",
          "name",
          "slug",
          "paymentType",
          "paymentMethods",
          "notifications"
        ]
      },
      "GetPaymentLinkOutput": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Payment link ID"
          },
          "accountId": {
            "type": "string",
            "description": "Account ID"
          },
          "projectId": {
            "type": "string",
            "description": "Project ID"
          },
          "clientId": {
            "type": "object",
            "description": "Client ID"
          },
          "name": {
            "type": "string",
            "description": "Payment link name"
          },
          "description": {
            "type": "object",
            "description": "Description"
          },
          "amount": {
            "type": "object",
            "description": "Amount in cents"
          },
          "currency": {
            "type": "string",
            "description": "Currency code"
          },
          "status": {
            "type": "string",
            "description": "Status",
            "enum": [
              "active",
              "expired",
              "disabled",
              "paid"
            ]
          },
          "slug": {
            "type": "string",
            "description": "URL slug"
          },
          "paymentsCount": {
            "type": "number",
            "description": "Number of payments received"
          },
          "totalCollected": {
            "type": "number",
            "description": "Total amount collected in cents"
          },
          "paymentType": {
            "type": "string",
            "description": "Payment type",
            "enum": [
              "one_time",
              "subscription"
            ]
          },
          "paymentMethods": {
            "description": "Accepted payment methods",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "maxInstallments": {
            "type": "number",
            "description": "Maximum installments"
          },
          "recurrenceInterval": {
            "type": "object",
            "description": "Recurrence interval"
          },
          "recurrenceCount": {
            "type": "object",
            "description": "Number of recurrence cycles"
          },
          "notifications": {
            "description": "Notification channels",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "allowCoupons": {
            "type": "boolean",
            "description": "Allow coupons"
          },
          "expiresAt": {
            "type": "object",
            "description": "Expiration date"
          },
          "createdAt": {
            "type": "string",
            "description": "Creation timestamp"
          },
          "updatedAt": {
            "type": "object",
            "description": "Last update timestamp"
          }
        },
        "required": [
          "id",
          "accountId",
          "projectId",
          "name",
          "currency",
          "status",
          "slug",
          "paymentsCount",
          "totalCollected",
          "paymentType",
          "paymentMethods",
          "maxInstallments",
          "notifications",
          "allowCoupons",
          "createdAt"
        ]
      },
      "GetAllPaymentLinksOutput": {
        "type": "object",
        "properties": {
          "items": {
            "description": "List of payment links",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GetPaymentLinkOutput"
            }
          },
          "meta": {
            "description": "Pagination metadata",
            "allOf": [
              {
                "$ref": "#/components/schemas/PaginationMeta"
              }
            ]
          }
        },
        "required": [
          "items",
          "meta"
        ]
      },
      "UpdatePaymentLinkInput": {
        "type": "object",
        "properties": {
          "projectId": {
            "type": "string",
            "description": "Project ID"
          },
          "clientId": {
            "type": "object",
            "description": "Client ID (for pre-assigned links)"
          },
          "name": {
            "type": "string",
            "description": "Payment link name",
            "example": "Premium Subscription"
          },
          "description": {
            "type": "object",
            "description": "Payment link description"
          },
          "amount": {
            "type": "object",
            "description": "Amount in cents (null for open amount)"
          },
          "currency": {
            "type": "string",
            "description": "Currency code"
          },
          "status": {
            "type": "string",
            "description": "Payment link status",
            "enum": [
              "active",
              "expired",
              "disabled",
              "paid"
            ]
          },
          "slug": {
            "type": "string",
            "description": "Unique URL slug",
            "example": "premium-2024"
          },
          "paymentType": {
            "type": "string",
            "description": "Payment type",
            "enum": [
              "one_time",
              "subscription"
            ]
          },
          "paymentMethods": {
            "description": "Accepted payment methods",
            "example": [
              "pix",
              "credit_card"
            ],
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "maxInstallments": {
            "type": "number",
            "description": "Maximum number of installments"
          },
          "recurrenceInterval": {
            "type": "string",
            "description": "Recurrence interval (for subscriptions)",
            "enum": [
              "daily",
              "weekly",
              "biweekly",
              "monthly",
              "quarterly",
              "semiannual",
              "yearly"
            ]
          },
          "recurrenceCount": {
            "type": "object",
            "description": "Number of recurrence cycles"
          },
          "notifications": {
            "description": "Notification channels",
            "example": [
              "email",
              "whatsapp"
            ],
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "allowCoupons": {
            "type": "boolean",
            "description": "Allow coupon codes"
          },
          "expiresAt": {
            "type": "object",
            "description": "Link expiration date"
          }
        }
      },
      "PublicCompanyInfoOutput": {
        "type": "object",
        "properties": {
          "razaoSocial": {
            "type": "string",
            "description": "Company legal name (Razão Social)"
          },
          "nomeFantasia": {
            "type": "object",
            "description": "Trade name (Nome Fantasia)"
          },
          "cnpj": {
            "type": "string",
            "description": "Company CNPJ"
          },
          "email": {
            "type": "string",
            "description": "Company email"
          },
          "phone": {
            "type": "string",
            "description": "Company phone"
          }
        },
        "required": [
          "razaoSocial",
          "cnpj",
          "email",
          "phone"
        ]
      },
      "PublicProjectOutput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Project name"
          },
          "description": {
            "type": "object",
            "description": "Project description"
          },
          "color": {
            "type": "string",
            "description": "Project color"
          },
          "logoUrl": {
            "type": "object",
            "description": "Project logo URL"
          }
        },
        "required": [
          "name",
          "color"
        ]
      },
      "GetPublicPaymentLinkOutput": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Payment link ID"
          },
          "name": {
            "type": "string",
            "description": "Payment link name"
          },
          "status": {
            "type": "string",
            "description": "Payment link status",
            "enum": [
              "active",
              "expired",
              "disabled",
              "paid"
            ]
          },
          "description": {
            "type": "object",
            "description": "Description"
          },
          "amount": {
            "type": "object",
            "description": "Amount in cents"
          },
          "currency": {
            "type": "string",
            "description": "Currency code"
          },
          "paymentType": {
            "type": "string",
            "description": "Payment type",
            "enum": [
              "one_time",
              "subscription"
            ]
          },
          "paymentMethods": {
            "description": "Accepted payment methods",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "maxInstallments": {
            "type": "number",
            "description": "Maximum installments"
          },
          "allowCoupons": {
            "type": "boolean",
            "description": "Allow coupons"
          },
          "hasClient": {
            "type": "boolean",
            "description": "Whether a client is already associated with this payment link"
          },
          "clientId": {
            "type": "object",
            "description": "Client ID if already associated"
          },
          "expiresAt": {
            "type": "object",
            "description": "Expiration date"
          },
          "company": {
            "description": "Company information",
            "allOf": [
              {
                "$ref": "#/components/schemas/PublicCompanyInfoOutput"
              }
            ]
          },
          "project": {
            "description": "Project information",
            "allOf": [
              {
                "$ref": "#/components/schemas/PublicProjectOutput"
              }
            ]
          }
        },
        "required": [
          "id",
          "name",
          "status",
          "currency",
          "paymentType",
          "paymentMethods",
          "maxInstallments",
          "allowCoupons",
          "hasClient",
          "company",
          "project"
        ]
      },
      "CreatePaymentLinkClientAddressInput": {
        "type": "object",
        "properties": {
          "zipCode": {
            "type": "string",
            "description": "ZIP code (CEP)",
            "example": "01234567",
            "minLength": 8,
            "maxLength": 8
          },
          "street": {
            "type": "string",
            "description": "Street name",
            "example": "Rua das Flores",
            "maxLength": 255
          },
          "number": {
            "type": "string",
            "description": "Street number",
            "example": "123",
            "maxLength": 20
          },
          "complement": {
            "type": "string",
            "description": "Address complement (apartment, suite, etc.)",
            "example": "Apt 101",
            "maxLength": 100
          },
          "neighborhood": {
            "type": "string",
            "description": "Neighborhood",
            "example": "Centro",
            "maxLength": 100
          },
          "city": {
            "type": "string",
            "description": "City name",
            "example": "São Paulo",
            "maxLength": 100
          },
          "state": {
            "type": "string",
            "description": "State code (UF)",
            "example": "SP",
            "minLength": 2,
            "maxLength": 2
          }
        },
        "required": [
          "zipCode",
          "street",
          "number",
          "neighborhood",
          "city",
[...]
