{
  "openapi": "3.0.0",
  "info": {
    "title": "pague.dev API",
    "description": "Документация платёжного API pague.dev",
    "version": "1.0",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api-gateway.pague.dev/v2"
    }
  ],
  "paths": {
    "/auth": {
      "post": {
        "operationId": "ExternalAuthController_authenticate",
        "summary": "Сгенерировать токен доступа",
        "description": "Обменивает `client_id` и `client_secret` ваших учётных данных на короткоживущий токен доступа. Отправляйте полученный токен в заголовке `Authorization: Bearer <access_token>` в остальных запросах.\n\nТокен истекает через **300 секунд (5 минут)** — сгенерируйте новый после истечения; refresh token не предусмотрен.",
        "tags": [
          "Autenticação"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "client_id": {
                    "type": "string",
                    "description": "Идентификатор учётных данных (mp_live_* — продакшен, mp_test_* — песочница)",
                    "example": "mp_live_0123456789abcdef01234567"
                  },
                  "client_secret": {
                    "type": "string",
                    "description": "Secret учётных данных (показывается только один раз при создании)"
                  }
                },
                "required": [
                  "client_id",
                  "client_secret"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Токен успешно сгенерирован",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "access_token": {
                      "type": "string",
                      "description": "JWT-токен для использования в заголовке Authorization",
                      "example": "eyJhbGciOiJSUzI1NiIs..."
                    },
                    "token_type": {
                      "type": "string",
                      "example": "Bearer"
                    },
                    "expires_in": {
                      "type": "integer",
                      "description": "Срок действия токена в секундах",
                      "example": 300
                    }
                  },
                  "required": [
                    "access_token",
                    "token_type",
                    "expires_in"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Отсутствует client_id или client_secret",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "example": {
                    "error": "Bad Request",
                    "message": "client_id and client_secret are required"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Недействительные или отозванные учётные данные либо неверный secret",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "example": {
                    "error": "Unauthorized",
                    "message": "Invalid credentials"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/pix": {
      "post": {
        "description": "Создаёт мгновенный платёж PIX.\n\n**Требуемое разрешение:** `PIX:WRITE` или `FULL_ACCESS`",
        "operationId": "ExternalPixController_createCharge",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Уникальный клиентский ключ (8–255 символов), делающий запрос идемпотентным. Повторные запросы с тем же ключом возвращают закешированный ответ (TTL 24 ч). Тот же ключ с другим телом запроса возвращает 422.",
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 255
            }
          },
          {
            "$ref": "#/components/parameters/SubAccount"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePixChargeInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Платёж PIX успешно создан",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePixChargeOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request — ошибка валидации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — требуется аутентификация",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found — ресурс не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error — внутренняя ошибка сервера",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Создать платёж PIX",
        "tags": [
          "External API - PIX"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/projects": {
      "post": {
        "description": "Создаёт новый проект.\n\n**Требуемое разрешение:** `PROJECT:WRITE` или `FULL_ACCESS`",
        "operationId": "ExternalProjectsController_createProject",
        "parameters": [
          {
            "$ref": "#/components/parameters/SubAccount"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProjectInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Проект успешно создан",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateProjectOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request — ошибка валидации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — требуется аутентификация",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict — ресурс уже существует",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConflictErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error — внутренняя ошибка сервера",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Создать проект",
        "tags": [
          "External API - Projects"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "get": {
        "description": "Возвращает постраничный список проектов.\n\n**Требуемое разрешение:** `PROJECT:READ` или `FULL_ACCESS`",
        "operationId": "ExternalProjectsController_getAllProjects",
        "parameters": [
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "Номер страницы",
            "schema": {
              "minimum": 1,
              "default": 1,
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "description": "Элементов на странице",
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "default": 20,
              "type": "integer"
            }
          },
          {
            "name": "sortBy",
            "required": false,
            "in": "query",
            "description": "Поле сортировки",
            "schema": {
              "default": "createdAt",
              "type": "string",
              "enum": [
                "createdAt",
                "updatedAt",
                "name"
              ]
            }
          },
          {
            "name": "sortOrder",
            "required": false,
            "in": "query",
            "description": "Порядок сортировки",
            "schema": {
              "default": "desc",
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "$ref": "#/components/parameters/SubAccount"
          }
        ],
        "responses": {
          "200": {
            "description": "Список проектов",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAllProjectsOutput"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — требуется аутентификация",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error — внутренняя ошибка сервера",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Получить список проектов",
        "tags": [
          "External API - Projects"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/projects/{id}": {
      "get": {
        "description": "Возвращает детали конкретного проекта по его ID.\n\n**Требуемое разрешение:** `PROJECT:READ` или `FULL_ACCESS`",
        "operationId": "ExternalProjectsController_getProject",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "ID проекта",
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/SubAccount"
          }
        ],
        "responses": {
          "200": {
            "description": "Детали проекта",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetProjectOutput"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — требуется аутентификация",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found — ресурс не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error — внутренняя ошибка сервера",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Получить проект по ID",
        "tags": [
          "External API - Projects"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/transactions/{id}": {
      "get": {
        "description": "Возвращает детали конкретной транзакции по её ID.\n\n**Требуемое разрешение:** `TRANSACTION:READ` или `FULL_ACCESS`",
        "operationId": "ExternalTransactionsController_getTransaction",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "ID транзакции (UUID), ваш external_reference или Idempotency-Key, использованный при создании. Разрешаются в этом порядке. Вывод средств, ещё находящийся в обработке (без транзакции), также находится по любому из них.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/SubAccount"
          }
        ],
        "responses": {
          "200": {
            "description": "Детали транзакции",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTransactionOutput"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — требуется аутентификация",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found — ресурс не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error — внутренняя ошибка сервера",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Получить транзакцию по ID",
        "tags": [
          "External API - Transactions"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/transactions/{id}/refund": {
      "post": {
        "description": "Запрашивает полный возврат указанной платёжной транзакции. Возврат асинхронный — подтверждение приходит через вебхук `refund_completed`, когда PSP обработает его.\n\n**Требуемое разрешение:** `REFUND:WRITE` или `FULL_ACCESS`",
        "operationId": "ExternalTransactionsController_requestRefund",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "ID платёжной транзакции, подлежащей возврату",
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/SubAccount"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestRefundInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Возврат успешно запрошен. Статус PENDING до подтверждения через вебхук.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestRefundOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request — транзакция не может быть возвращена (уже возвращена, истекла, недопустимый статус и т.д.)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — требуется аутентификация",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found — транзакция не найдена",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error — внутренняя ошибка сервера",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Запросить возврат по транзакции",
        "tags": [
          "External API - Transactions"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/balance-blocks": {
      "get": {
        "description": "Возвращает блокировки баланса аккаунта (MED, судебные или административные). Позволяет опционально фильтровать по статусу блокировки.\n\n**Требуемое разрешение:** `BALANCE_BLOCK:READ` или `FULL_ACCESS`",
        "operationId": "ExternalBalanceBlocksController_findAll",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Фильтрует блокировки по статусу. Если параметр опущен, возвращаются все блокировки аккаунта.",
            "schema": {
              "type": "string",
              "enum": [
                "awaiting_response",
                "defended",
                "approved",
                "rejected"
              ]
            }
          },
          {
            "$ref": "#/components/parameters/SubAccount"
          }
        ],
        "responses": {
          "200": {
            "description": "Список блокировок баланса аккаунта",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAllExternalBalanceBlocksOutput"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — требуется аутентификация",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error — внутренняя ошибка сервера",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Получить список блокировок баланса",
        "tags": [
          "External API - Balance Blocks"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/withdrawals": {
      "post": {
        "description": "Создаёт новый вывод средств через PIX с указанием данных ключа PIX и владельца счёта назначения.\n\n**Требуемое разрешение:** `WITHDRAWAL:WRITE` или `FULL_ACCESS`\n\n**Ограничение по IP:** если для учётных данных настроен список разрешённых IP-адресов, запросы вне этого списка отклоняются с кодом `403`. Рекомендуется для учётных данных с этим разрешением.",
        "operationId": "ExternalWithdrawalsController_create",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Уникальный клиентский ключ (8–255 символов), делающий запрос идемпотентным. Повторные запросы с тем же ключом возвращают закешированный ответ (TTL 24 ч). Тот же ключ с другим телом запроса возвращает 422.",
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 255
            }
          },
          {
            "$ref": "#/components/parameters/SubAccount"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateExternalWithdrawalInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Вывод средств успешно создан",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetExternalWithdrawalOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request — ошибка валидации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — требуется аутентификация",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — доступ запрещён",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found — ресурс не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error — внутренняя ошибка сервера",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Создать вывод средств через PIX",
        "tags": [
          "External API - Withdrawals (Saques)"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/account": {
      "get": {
        "description": "Возвращает данные аккаунта, информацию о компании и доступный баланс.\n\n**Требуемое разрешение:** `ACCOUNT:READ` или `FULL_ACCESS`",
        "operationId": "ExternalAccountController_getAccountInfo",
        "parameters": [
          {
            "$ref": "#/components/parameters/SubAccount"
          }
        ],
        "responses": {
          "200": {
            "description": "Данные аккаунта и баланс",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAccountInfoOutput"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — требуется аутентификация",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — доступ запрещён",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found — аккаунт не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error — внутренняя ошибка сервера",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Получить данные аккаунта и баланс",
        "tags": [
          "External API - Account (Conta)"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/sub-accounts": {
      "post": {
        "description": "Создаёт субсчёт с собственным балансом, полностью независимым от баланса основного аккаунта.\n\n**Требуемое разрешение:** `SUBACCOUNT:WRITE` или `FULL_ACCESS`",
        "operationId": "ExternalSubAccountsController_createSubAccount",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSubAccountInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Субсчёт успешно создан",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSubAccountOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request — ошибка валидации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — требуется аутентификация",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — доступ запрещён",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict — `reference` уже используется в этом аккаунте (`SUB_ACCOUNT_REFERENCE_TAKEN`) либо достигнут лимит субсчетов (`SUB_ACCOUNT_QUOTA_EXCEEDED`)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConflictErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error — внутренняя ошибка сервера",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Создать субсчёт",
        "tags": [
          "External API - Sub-accounts (Subcontas)"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "get": {
        "description": "Возвращает список субсчетов аккаунта.\n\n**Требуемое разрешение:** `SUBACCOUNT:READ` или `FULL_ACCESS`",
        "operationId": "ExternalSubAccountsController_getAllSubAccounts",
        "responses": {
          "200": {
            "description": "Список субсчетов",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAllSubAccountsOutput"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — требуется аутентификация",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — доступ запрещён",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error — внутренняя ошибка сервера",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Получить список субсчетов",
        "tags": [
          "External API - Sub-accounts (Subcontas)"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Токен доступа, полученный через POST /auth (client_id + client_secret). Действителен в течение 300 секунд."
      }
    },
    "parameters": {
      "SubAccount": {
        "name": "X-Sub-Account",
        "in": "header",
        "required": false,
        "description": "Reference субсчёта, в котором должна выполняться операция. Если заголовок не передан, операция выполняется в основном аккаунте. Принимается всеми эндпоинтами, кроме `POST /auth` и самих эндпоинтов `/sub-accounts`, которые всегда работают с основным аккаунтом.\n\nВозможные ошибки: `404 SUB_ACCOUNT_NOT_FOUND`, `403 SUB_ACCOUNT_FORBIDDEN`, `403 SUB_ACCOUNT_SUSPENDED`.",
        "schema": {
          "type": "string",
          "pattern": "^[a-z0-9][a-z0-9_-]{1,31}$",
          "example": "loja-centro"
        }
      }
    },
    "schemas": {
      "GetWebhookLogOutput": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "ID лога вебхука"
          },
          "webhookEndpointId": {
            "type": "string",
            "description": "ID эндпоинта вебхука"
          },
          "accountId": {
            "type": "string",
            "description": "ID аккаунта"
          },
          "eventType": {
            "type": "string",
            "description": "Тип события"
          },
          "eventId": {
            "type": "string",
            "description": "ID события"
          },
          "status": {
            "type": "string",
            "description": "Статус доставки",
            "enum": [
              "success",
              "failed",
              "pending",
              "retrying"
            ]
          },
          "url": {
            "type": "string",
            "description": "Целевой URL"
          },
          "httpStatus": {
            "type": "object",
            "description": "Код состояния HTTP"
          },
          "requestHeaders": {
            "type": "object",
            "description": "Заголовки запроса"
          },
          "requestPayload": {
            "type": "object",
            "description": "Тело запроса"
          },
          "responseHeaders": {
            "type": "object",
            "description": "Заголовки ответа"
          },
          "responseBody": {
            "type": "object",
            "description": "Тело ответа"
          },
          "attempts": {
            "type": "number",
            "description": "Количество попыток доставки"
          },
          "maxAttempts": {
            "type": "number",
            "description": "Максимальное число попыток доставки"
          },
          "createdAt": {
            "type": "string",
            "description": "Дата и время создания"
          },
          "lastAttemptAt": {
            "type": "object",
            "description": "Дата и время последней попытки"
          },
          "nextRetryAt": {
            "type": "object",
            "description": "Дата и время следующей повторной попытки"
          },
          "durationMs": {
            "type": "object",
            "description": "Длительность запроса в миллисекундах"
          }
        },
        "required": [
          "id",
          "webhookEndpointId",
          "accountId",
          "eventType",
          "eventId",
          "status",
          "url",
          "requestHeaders",
          "requestPayload",
          "attempts",
          "maxAttempts",
          "createdAt"
        ]
      },
      "PaginationMeta": {
        "type": "object",
        "properties": {
          "page": {
            "type": "number",
            "example": 1,
            "description": "Номер текущей страницы"
          },
          "limit": {
            "type": "number",
            "example": 20,
            "description": "Элементов на странице"
          },
          "total": {
            "type": "number",
            "example": 100,
            "description": "Общее количество элементов"
          },
          "totalPages": {
            "type": "number",
            "example": 5,
            "description": "Общее количество страниц"
          },
          "hasNextPage": {
            "type": "boolean",
            "example": true,
            "description": "Есть ли следующая страница"
          },
          "hasPreviousPage": {
            "type": "boolean",
            "example": false,
            "description": "Есть ли предыдущая страница"
          }
        },
        "required": [
          "page",
          "limit",
          "total",
          "totalPages",
          "hasNextPage",
          "hasPreviousPage"
        ]
      },
      "GetAllWebhookLogsOutput": {
        "type": "object",
        "properties": {
          "items": {
            "description": "Список логов вебхуков",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GetWebhookLogOutput"
            }
          },
          "meta": {
            "description": "Метаданные пагинации",
            "allOf": [
              {
                "$ref": "#/components/schemas/PaginationMeta"
              }
            ]
          }
        },
        "required": [
          "items",
          "meta"
        ]
      },
      "BadRequestErrorResponse": {
        "type": "object",
        "properties": {
          "statusCode": {
            "type": "number",
            "example": 400
          },
          "error": {
            "type": "string",
            "example": "BadRequest"
          },
          "message": {
            "type": "string",
            "example": "name must be longer than or equal to 2 characters"
          },
          "details": {
            "type": "object"
          },
          "timestamp": {
            "type": "string",
            "example": "2025-12-15T22:00:00.000Z"
          },
          "traceId": {
            "type": "string"
          }
        },
        "required": [
          "statusCode",
          "error",
          "message",
          "timestamp"
        ]
      },
      "InternalServerErrorResponse": {
        "type": "object",
        "properties": {
          "statusCode": {
            "type": "number",
            "example": 500
          },
          "error": {
            "type": "string",
            "example": "InternalError"
          },
          "message": {
            "type": "string",
            "example": "An unexpected error occurred"
          },
          "details": {
            "type": "object"
          },
          "timestamp": {
            "type": "string",
            "example": "2025-12-15T22:00:00.000Z"
          },
          "traceId": {
            "type": "string",
            "example": "2771463d58840c8e116dc6dda1e1e5d0"
          }
        },
        "required": [
          "statusCode",
          "error",
          "message",
          "timestamp"
        ]
      },
      "NotFoundErrorResponse": {
        "type": "object",
        "properties": {
          "statusCode": {
            "type": "number",
            "example": 404
          },
          "error": {
            "type": "string",
            "example": "NotFound"
          },
          "message": {
            "type": "string",
            "example": "Resource with id 550e8400-e29b-41d4-a716-446655440000 not found"
          },
          "details": {
            "type": "object",
            "example": {
              "resource": "Example",
              "id": "550e8400-e29b-41d4-a716-446655440000"
            }
          },
          "timestamp": {
            "type": "string",
            "example": "2025-12-15T22:00:00.000Z"
          },
          "traceId": {
            "type": "string"
          }
        },
        "required": [
          "statusCode",
          "error",
          "message",
          "timestamp"
        ]
      },
      "CreateTransactionInput": {
        "type": "object",
        "properties": {
          "projectId": {
            "type": "string",
            "description": "ID проекта"
          },
          "clientId": {
            "type": "string",
            "description": "ID клиента"
          },
          "paymentLinkId": {
            "type": "string",
            "description": "ID платёжной ссылки"
          },
          "subscriptionId": {
            "type": "string",
            "description": "ID подписки"
          },
          "invoiceId": {
            "type": "string",
            "description": "ID инвойса"
          },
          "pspCredentialId": {
            "type": "string",
            "description": "ID учётных данных PSP, обработавших эту транзакцию"
          },
          "date": {
            "type": "string",
            "description": "Дата транзакции"
          },
          "amount": {
            "type": "number",
            "description": "Сумма в сентаво"
          },
          "feeAmount": {
            "type": "number",
            "description": "Сумма комиссии в сентаво",
            "default": 0
          },
          "netAmount": {
            "type": "number",
            "description": "Чистая сумма в сентаво"
          },
          "currency": {
            "type": "string",
            "description": "Код валюты",
            "default": "BRL"
          },
          "type": {
            "type": "string",
            "description": "Тип транзакции",
            "enum": [
              "payment",
              "fee",
              "refund",
              "chargeback",
              "withdrawal",
              "adjustment"
            ]
          },
          "status": {
            "type": "string",
            "description": "Статус транзакции",
            "enum": [
              "completed",
              "pending",
              "failed",
              "cancelled"
            ]
          },
          "paymentMethod": {
            "type": "string",
            "description": "Способ оплаты",
            "enum": [
              "ask_customer",
              "pix",
              "credit_card",
              "boleto"
            ]
          },
          "installmentNumber": {
            "type": "number",
            "description": "Номер платежа в рассрочке"
          },
          "installmentTotal": {
            "type": "number",
            "description": "Всего платежей в рассрочке"
          },
          "description": {
            "type": "string",
            "description": "Описание транзакции"
          },
          "failureReason": {
            "type": "string",
            "description": "Причина сбоя (для неуспешных транзакций)"
          },
          "parentTransactionId": {
            "type": "string",
            "description": "ID родительской транзакции (для комиссий, связанных с платежами/выводами средств)"
          },
          "metadata": {
            "type": "object",
            "description": "Дополнительные метаданные"
          },
          "ledgerTransferId": {
            "type": "string",
            "description": "ID перевода в леджере"
          },
          "ledgerSyncStatus": {
            "type": "string",
            "description": "Статус синхронизации с леджером",
            "enum": [
              "pending",
              "synced",
              "failed"
            ]
          },
          "ledgerSyncedAt": {
            "type": "string",
            "description": "Дата и время синхронизации с леджером"
          }
        },
        "required": [
          "date",
          "amount",
          "netAmount",
          "type",
          "status",
          "description"
        ]
      },
      "GetTransactionOutput": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "ID транзакции",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "description": "Статус транзакции",
            "enum": [
              "pending",
              "completed",
              "failed",
              "cancelled"
            ]
          },
          "type": {
            "type": "string",
            "description": "Тип транзакции",
            "enum": [
              "payment",
              "fee",
              "refund",
              "chargeback",
              "withdrawal",
              "adjustment"
            ]
          },
          "paymentMethod": {
            "type": "string",
            "description": "Использованный способ оплаты",
            "enum": [
              "pix",
              "credit_card",
              "boleto"
            ]
          },
          "amount": {
            "type": "number",
            "description": "Сумма в BRL",
            "example": 150.75
          },
          "currency": {
            "type": "string",
            "description": "Код валюты",
            "example": "BRL"
          },
          "description": {
            "type": "string",
            "description": "Описание транзакции"
          },
          "externalReference": {
            "type": "string",
            "description": "Ваш внешний референс-ID",
            "example": "pedido-12345"
          },
          "customerId": {
            "type": "string",
            "description": "ID клиента",
            "format": "uuid"
          },
          "projectId": {
            "type": "string",
            "description": "ID проекта",
            "format": "uuid"
          },
          "metadata": {
            "type": "object",
            "description": "Персонализированные метаданные (пары ключ–значение)",
            "additionalProperties": true,
            "example": {
              "orderId": "12345",
              "source": "website"
            }
          },
          "pixCopyPaste": {
            "type": "string",
            "description": "Код PIX «копировать и вставить» (только для ожидающих транзакций PIX)",
            "example": "00020126580014br.gov.bcb.pix0136a1b2c3d4-e5f6-7890-abcd-ef1234567890"
          },
          "expiresAt": {
            "type": "string",
            "description": "Дата истечения срока действия (только для ожидающих транзакций)",
            "format": "date-time"
          },
          "paidAt": {
            "type": "string",
            "description": "Дата оплаты транзакции",
            "format": "date-time"
          },
          "e2eId": {
            "type": "string",
            "description": "Сквозной ID сети PIX (появляется после подтверждения PSP)",
            "example": "E18189547202603160145ZYFfVx3jP8D"
          },
          "counterpartName": {
            "type": "string",
            "description": "Имя контрагента по данным PSP (плательщик при поступлении, получатель при выводе)",
            "example": "Мария Силва"
          },
          "counterpartDocument": {
            "type": "string",
            "description": "CPF/CNPJ контрагента, без маски",
            "example": "12345678900"
          },
          "createdAt": {
            "type": "string",
            "description": "Дата создания",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "description": "Дата обновления",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "status",
          "type",
          "paymentMethod",
          "amount",
          "currency",
          "createdAt"
        ]
      },
      "GetAllTransactionsOutput": {
        "type": "object",
        "properties": {
          "items": {
            "description": "Список транзакций",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GetTransactionOutput"
            }
          },
          "meta": {
            "description": "Метаданные пагинации",
            "allOf": [
              {
                "$ref": "#/components/schemas/PaginationMeta"
              }
            ]
          }
        },
        "required": [
          "items",
          "meta"
        ]
      },
      "LedgerAccountOutput": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "ID счёта в леджере (PostgreSQL UUID)"
          },
          "accountId": {
            "type": "object",
            "description": "ID аккаунта (null для системных аккаунтов)",
            "nullable": true
          },
          "type": {
            "type": "string",
            "description": "Тип счёта",
            "enum": [
              "available",
              "held",
              "credits",
              "external_world",
              "treasury",
              "grants",
              "treasury_sandbox",
              "external_world_sandbox"
            ]
          },
          "tigerBeetleId": {
            "type": "string",
            "description": "128-битный ID счёта TigerBeetle (в виде строки)"
          },
          "ledger": {
            "type": "number",
            "description": "Номер леджера"
          },
          "code": {
            "type": "number",
            "description": "Код счёта"
          },
          "createdAt": {
            "type": "string",
            "description": "Дата и время создания"
          }
        },
        "required": [
          "id",
          "accountId",
          "type",
          "tigerBeetleId",
          "ledger",
          "code",
          "createdAt"
        ]
      },
      "CreateUserAccountsOutput": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "ID аккаунта (из JWT)"
          },
          "available": {
            "description": "Счёт доступного баланса",
            "allOf": [
              {
                "$ref": "#/components/schemas/LedgerAccountOutput"
              }
            ]
          },
          "held": {
            "description": "Счёт удержанных средств",
            "allOf": [
              {
                "$ref": "#/components/schemas/LedgerAccountOutput"
              }
            ]
          },
          "credits": {
            "description": "Счёт промокредитов",
            "allOf": [
              {
                "$ref": "#/components/schemas/LedgerAccountOutput"
              }
            ]
          },
          "created": {
            "type": "boolean",
            "description": "Были ли счета созданы заново или уже существовали"
          }
        },
        "required": [
          "accountId",
          "available",
          "held",
          "credits",
          "created"
        ]
      },
      "UnauthorizedErrorResponse": {
        "type": "object",
        "properties": {
          "statusCode": {
            "type": "number",
            "example": 401
          },
          "error": {
            "type": "string",
            "example": "Unauthorized"
          },
          "message": {
            "type": "string",
            "example": "Authentication token is required"
          },
          "details": {
            "type": "object"
          },
          "timestamp": {
            "type": "string",
            "example": "2025-12-15T22:00:00.000Z"
          },
          "traceId": {
            "type": "string"
          }
        },
        "required": [
          "statusCode",
          "error",
          "message",
          "timestamp"
        ]
      },
      "AccountBalanceOutput": {
        "type": "object",
        "properties": {
          "tigerBeetleId": {
            "type": "string",
            "description": "ID счёта TigerBeetle (в виде строки)"
          },
          "type": {
            "type": "string",
            "description": "Тип счёта"
          },
          "debitsPending": {
            "type": "string",
            "description": "Ожидающие дебеты (в сентаво)"
          },
          "debitsPosted": {
            "type": "string",
            "description": "Проведённые дебеты (в сентаво)"
          },
          "creditsPending": {
            "type": "string",
            "description": "Ожидающие кредиты (в сентаво)"
          },
          "creditsPosted": {
            "type": "string",
            "description": "Проведённые кредиты (в сентаво)"
          },
          "balance": {
            "type": "string",
            "description": "Доступный баланс (credits_posted - debits_posted) в сентаво"
          }
        },
        "required": [
          "tigerBeetleId",
          "type",
          "debitsPending",
          "debitsPosted",
          "creditsPending",
          "creditsPosted",
          "balance"
        ]
      },
      "GetUserBalanceOutput": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "ID аккаунта"
          },
          "available": {
            "description": "Счёт доступного баланса",
            "allOf": [
              {
                "$ref": "#/components/schemas/AccountBalanceOutput"
              }
            ]
          },
          "held": {
            "description": "Счёт удержанных средств",
            "allOf": [
              {
                "$ref": "#/components/schemas/AccountBalanceOutput"
              }
            ]
          },
          "credits": {
            "description": "Счёт промокредитов",
            "allOf": [
              {
                "$ref": "#/components/schemas/AccountBalanceOutput"
              }
            ]
          },
          "totalBalance": {
            "type": "string",
            "description": "Общий доступный баланс (available + credits) в сентаво"
          }
        },
        "required": [
          "accountId",
          "available",
          "held",
          "credits",
          "totalBalance"
        ]
      },
      "GetSystemBalanceOutput": {
        "type": "object",
        "properties": {
          "externalWorld": {
            "description": "Счёт внешнего мира (источник/приёмник платежей)",
            "allOf": [
              {
                "$ref": "#/components/schemas/AccountBalanceOutput"
              }
            ]
          },
          "externalWorldSandbox": {
            "description": "Sandbox-счёт внешнего мира (источник/приёмник платежей в песочнице)",
            "allOf": [
              {
                "$ref": "#/components/schemas/AccountBalanceOutput"
              }
            ]
          },
          "treasury": {
            "description": "Казначейский счёт (комиссии платформы)",
            "allOf": [
              {
                "$ref": "#/components/schemas/AccountBalanceOutput"
              }
            ]
          },
          "treasurySandbox": {
            "description": "Казначейский sandbox-счёт (комиссии платформы из песочницы)",
            "allOf": [
              {
                "$ref": "#/components/schemas/AccountBalanceOutput"
              }
            ]
          },
          "grants": {
            "description": "Счёт грантов (промокредиты)",
            "allOf": [
              {
                "$ref": "#/components/schemas/AccountBalanceOutput"
              }
            ]
          }
        },
        "required": [
          "externalWorld",
          "externalWorldSandbox",
          "treasury",
          "treasurySandbox",
          "grants"
        ]
      },
      "CreateTransferInput": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "Сумма в сентаво",
            "example": 10000
          },
          "methodKey": {
            "type": "string",
            "description": "Ключ способа оплаты",
            "example": "pix"
          },
          "projectId": {
            "type": "string",
            "description": "ID проекта для поиска комиссии, специфичной для проекта"
          },
          "description": {
            "type": "string",
            "description": "Описание перевода"
          },
          "metadata": {
            "type": "object",
            "description": "Дополнительные метаданные"
          }
        },
        "required": [
          "amount",
          "methodKey"
        ]
      },
      "TransferOutput": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "ID перевода (PostgreSQL UUID)"
          },
          "tigerBeetleId": {
            "type": "string",
            "description": "ID перевода TigerBeetle (в виде строки)"
          },
          "accountId": {
            "type": "string",
            "description": "ID аккаунта"
          },
          "type": {
            "type": "string",
            "description": "Тип перевода",
            "enum": [
              "payment",
              "fee",
              "settlement"
            ]
          },
          "status": {
            "type": "string",
            "description": "Статус перевода",
            "enum": [
              "pending",
              "posted",
              "voided"
            ]
          },
          "debitAccountId": {
            "type": "string",
            "description": "ID дебетового счёта в леджере"
          },
          "creditAccountId": {
            "type": "string",
            "description": "ID кредитового счёта в леджере"
          },
          "amount": {
            "type": "number",
            "description": "Валовая сумма в сентаво"
          },
          "feeAmount": {
            "type": "number",
            "description": "Сумма комиссии в сентаво"
          },
          "netAmount": {
            "type": "number",
            "description": "Чистая сумма в сентаво (amount - feeAmount)"
          },
          "balanceImpact": {
            "type": "number",
            "description": "Влияние на баланс в сентаво (выводы средств: списывается amount + feeAmount; платежи: зачисляется netAmount)"
          },
          "methodKey": {
            "type": "object",
            "description": "Ключ способа оплаты"
          },
          "description": {
            "type": "object",
            "description": "Описание перевода"
          },
          "linkedTransferId": {
            "type": "object",
            "description": "ID связанного перевода (для переводов комиссии)"
          },
          "metadata": {
            "type": "object",
            "description": "Дополнительные метаданные"
          },
          "createdAt": {
            "type": "string",
            "description": "Дата и время создания"
          },
          "postedAt": {
            "type": "object",
            "description": "Дата и время проведения"
          },
          "voidedAt": {
            "type": "object",
            "description": "Дата и время аннулирования"
          },
          "feeTransferId": {
            "type": "object",
            "description": "ID перевода комиссии (если комиссия была списана)"
          }
        },
        "required": [
          "id",
          "tigerBeetleId",
          "accountId",
          "type",
          "status",
          "debitAccountId",
          "creditAccountId",
          "amount",
          "feeAmount",
          "netAmount",
          "balanceImpact",
          "createdAt"
        ]
      },
      "CreateLedgerWithdrawalInput": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "Сумма вывода в сентаво",
            "example": 10000
          },
          "methodKey": {
            "type": "string",
            "description": "Ключ метода вывода средств",
            "example": "withdrawal"
          },
          "description": {
            "type": "string",
            "description": "Описание вывода средств"
          },
          "metadata": {
            "type": "object",
            "description": "Дополнительные метаданные"
          },
          "timeout": {
            "type": "number",
            "description": "Тайм-аут в секундах для автоматической отмены ожидающего вывода средств (0 = без тайм-аута)",
            "example": 86400,
            "minimum": 0,
            "maximum": 2592000
          }
        },
        "required": [
          "amount",
          "methodKey"
        ]
      },
      "CreateFeeInput": {
        "type": "object",
        "properties": {
          "projectId": {
            "type": "string",
            "description": "ID проекта (необязательно, null для комиссии на уровне аккаунта)"
          },
          "methodKey": {
            "type": "string",
            "description": "Ключ метода комиссии",
            "enum": [
              "pix",
              "credit_card",
              "boleto",
              "withdrawal",
              "refund"
            ],
            "example": "pix"
          },
          "methodDisplayName": {
            "type": "string",
            "description": "Отображаемое название способа оплаты",
            "example": "PIX"
          },
          "fixedFee": {
            "type": "number",
            "description": "Фиксированная комиссия в сентаво",
            "default": 0,
            "example": 100
          },
          "percentFee": {
            "type": "string",
            "description": "Процентная комиссия (от 0.00 до 100.00)",
            "default": "0",
            "example": "2.50"
          },
          "minFee": {
            "type": "number",
            "description": "Минимальная комиссия в сентаво",
            "example": 50
          },
          "maxFee": {
            "type": "number",
            "description": "Максимальная комиссия в сентаво",
            "example": 5000
          },
          "settlementDays": {
            "type": "number",
            "description": "Дни расчёта (settlement)",
            "default": 0,
            "example": 1
          },
          "isActive": {
            "type": "boolean",
            "description": "Активна ли комиссия",
            "default": true
          }
        },
        "required": [
          "methodKey",
          "methodDisplayName"
        ]
      },
      "GetFeeOutput": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "ID комиссии"
          },
          "accountId": {
            "type": "string",
            "description": "ID аккаунта"
          },
          "projectId": {
            "type": "object",
            "description": "ID проекта (null для комиссии на уровне аккаунта)"
          },
          "methodKey": {
            "type": "string",
            "description": "Ключ способа оплаты"
          },
          "methodDisplayName": {
            "type": "string",
            "description": "Отображаемое название способа оплаты"
          },
          "fixedFee": {
            "type": "number",
            "description": "Фиксированная комиссия в сентаво"
          },
          "percentFee": {
            "type": "string",
            "description": "Процентная комиссия"
          },
          "minFee": {
            "type": "object",
            "description": "Минимальная комиссия в сентаво"
          },
          "maxFee": {
            "type": "object",
            "description": "Максимальная комиссия в сентаво"
          },
          "settlementDays": {
            "type": "number",
            "description": "Дни расчёта (settlement)"
          },
          "isActive": {
            "type": "boolean",
            "description": "Активна ли комиссия"
          },
          "createdAt": {
            "type": "string",
            "description": "Дата и время создания"
          },
          "updatedAt": {
            "type": "object",
            "description": "Дата и время последнего обновления"
          }
        },
        "required": [
          "id",
          "accountId",
          "methodKey",
          "methodDisplayName",
          "fixedFee",
          "percentFee",
          "settlementDays",
          "isActive",
          "createdAt"
        ]
      },
      "ConflictErrorResponse": {
        "type": "object",
        "properties": {
          "statusCode": {
            "type": "number",
            "example": 409
          },
          "error": {
            "type": "string",
            "example": "Conflict"
          },
          "message": {
            "type": "string",
            "example": "Resource with name 'Example' already exists"
          },
          "details": {
            "type": "object",
            "example": {
              "resource": "Example",
              "field": "name",
              "value": "Example"
            }
          },
          "timestamp": {
            "type": "string",
            "example": "2025-12-15T22:00:00.000Z"
          },
          "traceId": {
            "type": "string"
          }
        },
        "required": [
          "statusCode",
          "error",
          "message",
          "timestamp"
        ]
      },
      "GetAllFeesOutput": {
        "type": "object",
        "properties": {
          "items": {
            "description": "Список комиссий",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GetFeeOutput"
            }
          },
          "meta": {
            "description": "Метаданные пагинации",
            "allOf": [
              {
                "$ref": "#/components/schemas/PaginationMeta"
              }
            ]
          }
        },
        "required": [
          "items",
          "meta"
        ]
      },
      "UpdateFeeInput": {
        "type": "object",
        "properties": {
          "projectId": {
            "type": "object",
            "description": "ID проекта (null для комиссии на уровне аккаунта)"
          },
          "methodKey": {
            "type": "string",
            "description": "Ключ метода комиссии",
            "enum": [
              "pix",
              "credit_card",
              "boleto",
              "withdrawal",
              "refund"
            ],
            "example": "pix"
          },
          "methodDisplayName": {
            "type": "string",
            "description": "Отображаемое название способа оплаты",
            "example": "PIX"
          },
          "fixedFee": {
            "type": "number",
            "description": "Фиксированная комиссия в сентаво",
            "example": 100
          },
          "percentFee": {
            "type": "string",
            "description": "Процентная комиссия (от 0.00 до 100.00)",
            "example": "2.50"
          },
          "minFee": {
            "type": "object",
            "description": "Минимальная комиссия в сентаво",
            "example": 50
          },
          "maxFee": {
            "type": "object",
            "description": "Максимальная комиссия в сентаво",
            "example": 5000
          },
          "settlementDays": {
            "type": "number",
            "description": "Дни расчёта (settlement)",
            "example": 1
          },
          "isActive": {
            "type": "boolean",
            "description": "Активна ли комиссия"
          }
        }
      },
      "CreateAccountInput": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Статус аккаунта",
            "enum": [
              "approved",
              "pending",
              "rejected",
              "suspended"
            ],
            "default": "pending",
            "example": "pending"
          }
        }
      },
      "CreateAccountOutput": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "status": {
            "type": "string",
            "example": "pending",
            "enum": [
              "approved",
              "pending",
              "rejected",
              "suspended"
            ]
          },
          "createdAt": {
            "type": "string",
            "example": "2025-12-15T22:00:00.000Z"
          }
        },
        "required": [
          "id",
          "status",
          "createdAt"
        ]
      },
      "AccountItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "status": {
            "type": "string",
            "example": "pending",
            "enum": [
              "approved",
              "pending",
              "rejected",
              "suspended"
            ]
          },
          "createdAt": {
            "type": "string",
            "example": "2025-12-15T22:00:00.000Z"
          }
        },
        "required": [
          "id",
          "status",
          "createdAt"
        ]
      },
      "GetAllAccountsOutput": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AccountItem"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        },
        "required": [
          "items",
          "meta"
        ]
      },
      "GetAccountOutput": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "status": {
            "type": "string",
            "example": "pending",
            "enum": [
              "approved",
              "pending",
              "rejected",
              "suspended"
            ]
          },
          "createdAt": {
            "type": "string",
            "example": "2025-12-15T22:00:00.000Z"
          },
          "updatedAt": {
            "type": "string",
            "example": "2025-12-15T22:00:00.000Z"
          }
        },
        "required": [
          "id",
          "status",
          "createdAt"
        ]
      },
      "UpdateAccountInput": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Статус аккаунта",
            "enum": [
              "approved",
              "pending",
              "rejected",
              "suspended"
            ],
            "example": "approved"
          }
        }
      },
      "AsaasCredentialsInput": {
        "type": "object",
        "properties": {
          "apiKey": {
            "type": "string",
            "description": "API-ключ Asaas",
            "example": "$aact_YourApiKey"
          },
          "sandbox": {
            "type": "boolean",
            "description": "Использовать окружение песочницы (гомологация)",
            "default": false
          }
        },
        "required": [
          "apiKey"
        ]
      },
      "PaymentMethodConfigOutput": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "ID конфигурации",
            "format": "uuid"
          },
          "paymentMethod": {
            "type": "string",
            "enum": [
              "pix",
              "credit_card",
              "boleto"
            ],
            "description": "Способ оплаты"
          },
          "pspCredentialId": {
            "type": "string",
            "description": "ID учётных данных PSP",
            "format": "uuid"
          },
          "isEnabled": {
            "type": "boolean",
            "description": "Включён ли способ оплаты"
          },
          "isDefault": {
            "type": "boolean",
            "description": "Является ли этот PSP провайдером по умолчанию для способа оплаты"
          },
          "settings": {
            "type": "object",
            "description": "Настройки, специфичные для способа оплаты"
          },
          "createdAt": {
            "type": "string",
            "description": "Дата и время создания",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "description": "Дата и время последнего обновления",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "paymentMethod",
          "pspCredentialId",
          "isEnabled",
          "isDefault",
          "createdAt"
        ]
      },
      "GetAccountPaymentMethodsOutput": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "ID аккаунта",
            "format": "uuid"
          },
          "methods": {
            "description": "Настроенные способы оплаты",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PaymentMethodConfigOutput"
            }
          }
        },
        "required": [
          "accountId",
          "methods"
        ]
      },
      "PaymentMethodSettingsInput": {
        "type": "object",
        "properties": {
          "expirationMinutes": {
            "type": "number",
            "description": "Срок действия PIX в минутах",
            "minimum": 5,
            "maximum": 1440
          },
          "maxInstallments": {
            "type": "number",
            "description": "Максимально допустимое число платежей в рассрочке",
            "minimum": 1,
            "maximum": 12
          },
          "minInstallmentValue": {
            "type": "number",
            "description": "Минимальная сумма одного платежа рассрочки в сентаво",
            "minimum": 500
          },
          "daysUntilDue": {
            "type": "number",
            "description": "Количество дней до срока оплаты boleto",
            "minimum": 1,
            "maximum": 30
          },
          "instructions": {
            "type": "string",
            "description": "Инструкции по оплате",
            "maxLength": 500
          }
        }
      },
      "ConfigurePaymentMethodInput": {
        "type": "object",
        "properties": {
          "paymentMethod": {
            "type": "string",
            "enum": [
              "pix",
              "credit_card",
              "boleto"
            ],
            "description": "Настраиваемый способ оплаты"
          },
          "pspCredentialId": {
            "type": "string",
            "description": "ID учётных данных PSP для использования с этим способом оплаты",
            "format": "uuid"
          },
          "isDefault": {
            "type": "boolean",
            "description": "Установить эту конфигурацию по умолчанию для способа оплаты",
            "default": false
          },
          "settings": {
            "description": "Настройки, специфичные для способа оплаты",
            "allOf": [
              {
                "$ref": "#/components/schemas/PaymentMethodSettingsInput"
              }
            ]
          }
        },
        "required": [
          "paymentMethod",
          "pspCredentialId"
        ]
      },
      "UpdatePaymentMethodInput": {
        "type": "object",
        "properties": {
          "pspCredentialId": {
            "type": "string",
            "description": "ID учётных данных PSP для использования с этим способом оплаты",
            "format": "uuid"
          },
          "settings": {
            "description": "Настройки, специфичные для способа оплаты",
            "allOf": [
              {
                "$ref": "#/components/schemas/PaymentMethodSettingsInput"
              }
            ]
          }
        }
      },
      "SetDefaultPaymentMethodInput": {
        "type": "object",
        "properties": {
          "pspCredentialId": {
            "type": "string",
            "description": "ID учётных данных PSP для установки по умолчанию",
            "format": "uuid"
          }
        },
        "required": [
          "pspCredentialId"
        ]
      },
      "CreateNotificationInput": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "string",
            "description": "ID пользователя для адресации конкретного пользователя"
          },
          "type": {
            "type": "string",
            "description": "Тип уведомления",
            "enum": [
              "payment",
              "refund",
              "chargeback",
              "withdrawal",
              "subscription",
              "system"
            ]
          },
          "title": {
            "type": "string",
            "description": "Заголовок уведомления"
          },
          "description": {
            "type": "string",
            "description": "Описание уведомления"
          },
          "amount": {
            "type": "number",
            "description": "Связанная сумма в сентаво"
          },
          "entityType": {
            "type": "string",
            "description": "Тип связанной сущности"
          },
          "entityId": {
            "type": "string",
            "description": "ID связанной сущности"
          }
        },
        "required": [
          "type",
          "title",
          "description"
        ]
      },
      "GetNotificationOutput": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "ID уведомления"
          },
          "accountId": {
            "type": "string",
            "description": "ID аккаунта"
          },
          "userId": {
            "type": "object",
            "description": "ID пользователя"
          },
          "type": {
            "type": "string",
            "description": "Тип уведомления",
            "enum": [
              "payment",
              "refund",
              "chargeback",
              "withdrawal",
              "subscription",
              "system"
            ]
          },
          "title": {
            "type": "string",
            "description": "Заголовок уведомления"
          },
          "description": {
            "type": "string",
            "description": "Описание уведомления"
          },
          "amount": {
            "type": "object",
            "description": "Связанная сумма в сентаво"
          },
          "entityType": {
            "type": "object",
            "description": "Тип связанной сущности"
          },
          "entityId": {
            "type": "object",
            "description": "ID связанной сущности"
          },
          "read": {
            "type": "boolean",
            "description": "Статус прочтения"
          },
          "readAt": {
            "type": "object",
            "description": "Дата и время прочтения"
          },
          "createdAt": {
            "type": "string",
            "description": "Дата и время создания"
          }
        },
        "required": [
          "id",
          "accountId",
          "type",
          "title",
          "description",
          "read",
          "createdAt"
        ]
      },
      "GetAllNotificationsOutput": {
        "type": "object",
        "properties": {
          "items": {
            "description": "Список уведомлений",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GetNotificationOutput"
            }
          },
          "meta": {
            "description": "Метаданные пагинации",
            "allOf": [
              {
                "$ref": "#/components/schemas/PaginationMeta"
              }
            ]
          }
        },
        "required": [
          "items",
          "meta"
        ]
      },
      "UpdateNotificationInput": {
        "type": "object",
        "properties": {
          "read": {
            "type": "boolean",
            "description": "Отметить как прочитанное"
          }
        }
      },
      "CreateWebhookEndpointInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Название эндпоинта вебхука"
          },
          "environment": {
            "type": "string",
            "description": "Окружение для этого вебхука",
            "enum": [
              "production",
              "sandbox"
            ],
            "default": "production"
          },
          "url": {
            "type": "string",
            "description": "URL вебхука для получения событий"
          },
          "secret": {
            "type": "string",
            "description": "Secret для подписи полезной нагрузки"
          },
          "events": {
            "description": "События для подписки",
            "example": [
              "payment_completed",
              "subscription_created"
            ],
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "headers": {
            "type": "object",
            "description": "Пользовательские заголовки, отправляемые с запросами вебхуков"
          },
          "isActive": {
            "type": "boolean",
            "description": "Активен ли эндпоинт",
            "default": true
          }
        },
        "required": [
          "name",
          "environment",
          "url",
          "secret",
          "events"
        ]
      },
      "GetWebhookEndpointOutput": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "ID эндпоинта вебхука"
          },
          "accountId": {
            "type": "string",
            "description": "ID аккаунта"
          },
          "name": {
            "type": "string",
            "description": "Название эндпоинта вебхука"
          },
          "environment": {
            "type": "string",
            "description": "Окружение",
            "enum": [
              "production",
              "sandbox"
            ]
          },
          "url": {
            "type": "string",
            "description": "URL вебхука"
          },
          "secretPrefix": {
            "type": "string",
            "description": "Префикс secret (для отображения)"
          },
          "events": {
            "description": "События подписки",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "headers": {
            "type": "object",
            "description": "Пользовательские заголовки"
          },
          "isActive": {
            "type": "boolean",
            "description": "Активен ли эндпоинт"
          },
          "failureCount": {
            "type": "number",
            "description": "Число последовательных сбоев"
          },
          "lastSuccessAt": {
            "type": "object",
            "description": "Дата и время последней успешной доставки"
          },
          "lastFailureAt": {
            "type": "object",
            "description": "Дата и время последней неуспешной доставки"
          },
          "disabledAt": {
            "type": "object",
            "description": "Дата и время отключения"
          },
          "createdAt": {
            "type": "string",
            "description": "Дата и время создания"
          },
          "updatedAt": {
            "type": "object",
            "description": "Дата и время последнего обновления"
          }
        },
        "required": [
          "id",
          "accountId",
          "name",
          "environment",
          "url",
          "secretPrefix",
          "events",
          "isActive",
          "failureCount",
          "createdAt"
        ]
      },
      "GetAllWebhookEndpointsOutput": {
        "type": "object",
        "properties": {
          "items": {
            "description": "Список эндпоинтов вебхуков",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GetWebhookEndpointOutput"
            }
          },
          "meta": {
            "description": "Метаданные пагинации",
            "allOf": [
              {
                "$ref": "#/components/schemas/PaginationMeta"
              }
            ]
          }
        },
        "required": [
          "items",
          "meta"
        ]
      },
      "UpdateWebhookEndpointInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Название эндпоинта вебхука"
          },
          "url": {
            "type": "string",
            "description": "URL вебхука"
          },
          "events": {
            "description": "События для подписки",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "headers": {
            "type": "object",
            "description": "Пользовательские заголовки"
          },
          "isActive": {
            "type": "boolean",
            "description": "Активен ли эндпоинт"
          }
        }
      },
      "CreatePaymentLinkInput": {
        "type": "object",
        "properties": {
          "projectId": {
            "type": "string",
            "description": "ID проекта"
          },
          "clientId": {
            "type": "string",
            "description": "ID клиента (для предварительно назначенных ссылок)"
          },
          "name": {
            "type": "string",
            "description": "Название платёжной ссылки",
            "example": "Premium Subscription"
          },
          "description": {
            "type": "string",
            "description": "Описание платёжной ссылки"
          },
          "amount": {
            "type": "number",
            "description": "Сумма в сентаво (null для открытой суммы)"
          },
          "currency": {
            "type": "string",
            "description": "Код валюты",
            "default": "BRL"
          },
          "status": {
            "type": "string",
            "description": "Статус платёжной ссылки",
            "enum": [
              "active",
              "expired",
              "disabled",
              "paid"
            ],
            "default": "active"
          },
          "slug": {
            "type": "string",
            "description": "Уникальный URL-слаг",
            "example": "premium-2024"
          },
          "paymentType": {
            "type": "string",
            "description": "Тип платежа",
            "enum": [
              "one_time",
              "subscription"
            ]
          },
          "paymentMethods": {
            "description": "Принимаемые способы оплаты",
            "example": [
              "pix",
              "credit_card"
            ],
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "maxInstallments": {
            "type": "number",
            "description": "Максимальное количество платежей в рассрочке",
            "default": 1
          },
          "recurrenceInterval": {
            "type": "string",
            "description": "Интервал повторения (для подписок)",
            "enum": [
              "daily",
              "weekly",
              "biweekly",
              "monthly",
              "quarterly",
              "semiannual",
              "yearly"
            ]
          },
          "recurrenceCount": {
            "type": "number",
            "description": "Количество циклов повторения (null — бессрочно)"
          },
          "notifications": {
            "description": "Каналы уведомлений",
            "example": [
              "email",
              "whatsapp"
            ],
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "allowCoupons": {
            "type": "boolean",
            "description": "Разрешить коды купонов",
            "default": true
          },
          "expiresAt": {
            "type": "string",
            "description": "Дата истечения срока действия ссылки"
          }
        },
        "required": [
          "projectId",
          "name",
          "slug",
          "paymentType",
          "paymentMethods",
          "notifications"
        ]
      },
      "GetPaymentLinkOutput": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "ID платёжной ссылки"
          },
          "accountId": {
            "type": "string",
            "description": "ID аккаунта"
          },
          "projectId": {
            "type": "string",
            "description": "ID проекта"
          },
          "clientId": {
            "type": "object",
            "description": "ID клиента"
          },
          "name": {
            "type": "string",
            "description": "Название платёжной ссылки"
          },
          "description": {
            "type": "object",
            "description": "Описание"
          },
          "amount": {
            "type": "object",
            "description": "Сумма в сентаво"
          },
          "currency": {
            "type": "string",
            "description": "Код валюты"
          },
          "status": {
            "type": "string",
            "description": "Статус",
            "enum": [
              "active",
              "expired",
              "disabled",
              "paid"
            ]
          },
          "slug": {
            "type": "string",
            "description": "URL-слаг"
          },
          "paymentsCount": {
            "type": "number",
            "description": "Количество полученных платежей"
          },
          "totalCollected": {
            "type": "number",
            "description": "Общая собранная сумма в сентаво"
          },
          "paymentType": {
            "type": "string",
            "description": "Тип платежа",
            "enum": [
              "one_time",
              "subscription"
            ]
          },
          "paymentMethods": {
            "description": "Принимаемые способы оплаты",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "maxInstallments": {
            "type": "number",
            "description": "Максимальное число платежей в рассрочке"
          },
          "recurrenceInterval": {
            "type": "object",
            "description": "Интервал повторения"
          },
          "recurrenceCount": {
            "type": "object",
            "description": "Количество циклов повторения"
          },
          "notifications": {
            "description": "Каналы уведомлений",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "allowCoupons": {
            "type": "boolean",
            "description": "Разрешить купоны"
          },
          "expiresAt": {
            "type": "object",
            "description": "Дата истечения срока действия"
          },
          "createdAt": {
            "type": "string",
            "description": "Дата и время создания"
          },
          "updatedAt": {
            "type": "object",
            "description": "Дата и время последнего обновления"
          }
        },
        "required": [
          "id",
          "accountId",
          "projectId",
          "name",
          "currency",
          "status",
          "slug",
          "paymentsCount",
          "totalCollected",
          "paymentType",
          "paymentMethods",
          "maxInstallments",
          "notifications",
          "allowCoupons",
          "createdAt"
        ]
      },
      "GetAllPaymentLinksOutput": {
        "type": "object",
        "properties": {
          "items": {
            "description": "Список платёжных ссылок",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GetPaymentLinkOutput"
            }
          },
          "meta": {
            "description": "Метаданные пагинации",
            "allOf": [
              {
                "$ref": "#/components/schemas/PaginationMeta"
              }
            ]
          }
        },
        "required": [
          "items",
          "meta"
        ]
      },
      "UpdatePaymentLinkInput": {
        "type": "object",
        "properties": {
          "projectId": {
            "type": "string",
            "description": "ID проекта"
          },
          "clientId": {
            "type": "object",
            "description": "ID клиента (для предварительно назначенных ссылок)"
          },
          "name": {
            "type": "string",
            "description": "Название платёжной ссылки",
            "example": "Premium Subscription"
          },
          "description": {
            "type": "object",
            "description": "Описание платёжной ссылки"
          },
          "amount": {
            "type": "object",
            "description": "Сумма в сентаво (null для открытой суммы)"
          },
          "currency": {
            "type": "string",
            "description": "Код валюты"
          },
          "status": {
            "type": "string",
            "description": "Статус платёжной ссылки",
            "enum": [
              "active",
              "expired",
              "disabled",
              "paid"
            ]
          },
          "slug": {
            "type": "string",
            "description": "Уникальный URL-слаг",
            "example": "premium-2024"
          },
          "paymentType": {
            "type": "string",
            "description": "Тип платежа",
            "enum": [
              "one_time",
              "subscription"
            ]
          },
          "paymentMethods": {
            "description": "Принимаемые способы оплаты",
            "example": [
              "pix",
              "credit_card"
            ],
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "maxInstallments": {
            "type": "number",
            "description": "Максимальное количество платежей в рассрочке"
          },
          "recurrenceInterval": {
            "type": "string",
            "description": "Интервал повторения (для подписок)",
            "enum": [
              "daily",
              "weekly",
              "biweekly",
              "monthly",
              "quarterly",
              "semiannual",
              "yearly"
            ]
          },
          "recurrenceCount": {
            "type": "object",
            "description": "Количество циклов повторения"
          },
          "notifications": {
            "description": "Каналы уведомлений",
            "example": [
              "email",
              "whatsapp"
            ],
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "allowCoupons": {
            "type": "boolean",
            "description": "Разрешить коды купонов"
          },
          "expiresAt": {
            "type": "object",
            "description": "Дата истечения срока действия ссылки"
          }
        }
      },
      "PublicCompanyInfoOutput": {
        "type": "object",
        "properties": {
          "razaoSocial": {
            "type": "string",
            "description": "Юридическое название компании (Razão Social)"
          },
          "nomeFantasia": {
            "type": "object",
            "description": "Торговое название (Nome Fantasia)"
          },
          "cnpj": {
            "type": "string",
            "description": "CNPJ компании"
          },
          "email": {
            "type": "string",
            "description": "Email компании"
          },
          "phone": {
            "type": "string",
            "description": "Телефон компании"
          }
        },
        "required": [
          "razaoSocial",
          "cnpj",
          "email",
          "phone"
        ]
      },
      "PublicProjectOutput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Название проекта"
          },
          "description": {
            "type": "object",
            "description": "Описание проекта"
          },
          "color": {
            "type": "string",
            "description": "Цвет проекта"
          },
          "logoUrl": {
            "type": "object",
            "description": "URL логотипа проекта"
          }
        },
        "required": [
          "name",
          "color"
        ]
      },
      "GetPublicPaymentLinkOutput": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "ID платёжной ссылки"
          },
          "name": {
            "type": "string",
            "description": "Название платёжной ссылки"
          },
          "status": {
            "type": "string",
            "description": "Статус платёжной ссылки",
            "enum": [
              "active",
              "expired",
              "disabled",
              "paid"
            ]
          },
          "description": {
            "type": "object",
            "description": "Описание"
          },
          "amount": {
            "type": "object",
            "description": "Сумма в сентаво"
          },
          "currency": {
            "type": "string",
            "description": "Код валюты"
          },
          "paymentType": {
            "type": "string",
            "description": "Тип платежа",
            "enum": [
              "one_time",
              "subscription"
            ]
          },
          "paymentMethods": {
            "description": "Принимаемые способы оплаты",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "maxInstallments": {
            "type": "number",
            "description": "Максимальное число платежей в рассрочке"
          },
          "allowCoupons": {
            "type": "boolean",
            "description": "Разрешить купоны"
          },
          "hasClient": {
            "type": "boolean",
            "description": "Привязан ли уже клиент к этой платёжной ссылке"
          },
          "clientId": {
            "type": "object",
            "description": "ID клиента, если уже привязан"
          },
          "expiresAt": {
            "type": "object",
            "description": "Дата истечения срока действия"
          },
          "company": {
            "description": "Информация о компании",
            "allOf": [
              {
                "$ref": "#/components/schemas/PublicCompanyInfoOutput"
              }
            ]
          },
          "project": {
            "description": "Информация о проекте",
            "allOf": [
              {
                "$ref": "#/components/schemas/PublicProjectOutput"
              }
            ]
          }
        },
        "required": [
          "id",
          "name",
          "status",
          "currency",
          "paymentType",
          "paymentMethods",
          "maxInstallments",
          "allowCoupons",
          "hasClient",
          "company",
          "project"
        ]
      },
      "CreatePaymentLinkClientAddressInput": {
        "type": "object",
        "properties": {
          "zipCode": {
            "type": "string",
            "description": "Почтовый индекс (CEP)",
            "example": "01234567",
            "minLength": 8,
            "maxLength": 8
          },
          "street": {
            "type": "string",
            "description": "Улица",
[...]
