{
  "openapi": "3.0.0",
  "info": {
    "title": "pague.dev API",
    "description": "pague.dev Payment API documentation",
    "version": "1.0",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.pague.dev/v1"
    }
  ],
  "paths": {
    "/pix": {
      "post": {
        "description": "Cria uma cobrança PIX instantânea.\n\n**Permissão requerida:** `PIX:WRITE` ou `FULL_ACCESS`",
        "operationId": "ExternalPixController_createCharge",
        "parameters": [
          {
            "name": "X-API-Key",
            "in": "header",
            "description": "Chave de API de integração (pd_live_* para produção, pd_test_* para sandbox)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePixChargeInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Cobrança PIX criada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePixChargeOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Criar uma cobrança PIX",
        "tags": ["External API - PIX"]
      }
    },
    "/pix/qrcode-static": {
      "post": {
        "description": "Cria um QR code PIX estático. Diferente de uma cobrança PIX convencional, o QR não requer dados do pagador.\n\n**Permissão requerida:** `PIX:WRITE` ou `FULL_ACCESS`",
        "operationId": "ExternalPixController_createStaticQrCode",
        "parameters": [
          {
            "name": "X-API-Key",
            "in": "header",
            "description": "Chave de API de integração (pd_live_* para produção, pd_test_* para sandbox)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateStaticQrCodeInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "QR code estático criado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateStaticQrCodeOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Permission denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Criar um QR code PIX estático",
        "tags": ["External API - PIX"]
      }
    },
    "/customers": {
      "post": {
        "description": "Cria um novo cliente.\n\n**Permissão requerida:** `CUSTOMER:WRITE` ou `FULL_ACCESS`",
        "operationId": "ExternalCustomersController_createCustomer",
        "parameters": [
          {
            "name": "X-API-Key",
            "in": "header",
            "description": "Chave de API de integração (pd_live_* para produção, pd_test_* para sandbox)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomerInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Cliente criado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCustomerOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Criar um cliente",
        "tags": ["External API - Customers"]
      },
      "get": {
        "description": "Retorna uma lista paginada de clientes.\n\n**Permissão requerida:** `CUSTOMER:READ` ou `FULL_ACCESS`",
        "operationId": "ExternalCustomersController_getAllCustomers",
        "parameters": [
          {
            "name": "X-API-Key",
            "in": "header",
            "description": "Chave de API de integração (pd_live_* para produção, pd_test_* para sandbox)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "Número da página",
            "schema": {
              "minimum": 1,
              "default": 1,
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "description": "Itens por página",
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "default": 20,
              "type": "integer"
            }
          },
          {
            "name": "search",
            "required": false,
            "in": "query",
            "description": "Buscar por nome, e-mail ou documento",
            "schema": {
              "example": "joao",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de clientes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAllCustomersOutput"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Listar clientes",
        "tags": ["External API - Customers"]
      }
    },
    "/customers/{id}": {
      "get": {
        "description": "Retorna os detalhes de um cliente específico pelo seu ID.\n\n**Permissão requerida:** `CUSTOMER:READ` ou `FULL_ACCESS`",
        "operationId": "ExternalCustomersController_getCustomer",
        "parameters": [
          {
            "name": "X-API-Key",
            "in": "header",
            "description": "Chave de API de integração (pd_live_* para produção, pd_test_* para sandbox)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "ID do cliente",
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Detalhes do cliente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCustomerOutput"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Buscar cliente por ID",
        "tags": ["External API - Customers"]
      }
    },
    "/projects": {
      "post": {
        "description": "Cria um novo projeto.\n\n**Permissão requerida:** `PROJECT:WRITE` ou `FULL_ACCESS`",
        "operationId": "ExternalProjectsController_createProject",
        "parameters": [
          {
            "name": "X-API-Key",
            "in": "header",
            "description": "Chave de API de integração (pd_live_* para produção, pd_test_* para sandbox)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProjectInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Projeto criado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateProjectOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict - Resource already exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConflictErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Criar um projeto",
        "tags": ["External API - Projects"]
      },
      "get": {
        "description": "Retorna uma lista paginada de projetos.\n\n**Permissão requerida:** `PROJECT:READ` ou `FULL_ACCESS`",
        "operationId": "ExternalProjectsController_getAllProjects",
        "parameters": [
          {
            "name": "X-API-Key",
            "in": "header",
            "description": "Chave de API de integração (pd_live_* para produção, pd_test_* para sandbox)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "Número da página",
            "schema": {
              "minimum": 1,
              "default": 1,
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "description": "Itens por página",
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "default": 20,
              "type": "integer"
            }
          },
          {
            "name": "sortBy",
            "required": false,
            "in": "query",
            "description": "Ordenar por campo",
            "schema": {
              "default": "createdAt",
              "type": "string",
              "enum": ["createdAt", "updatedAt", "name"]
            }
          },
          {
            "name": "sortOrder",
            "required": false,
            "in": "query",
            "description": "Ordem de classificação",
            "schema": {
              "default": "desc",
              "type": "string",
              "enum": ["asc", "desc"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de projetos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAllProjectsOutput"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Listar projetos",
        "tags": ["External API - Projects"]
      }
    },
    "/projects/{id}": {
      "get": {
        "description": "Retorna os detalhes de um projeto específico pelo seu ID.\n\n**Permissão requerida:** `PROJECT:READ` ou `FULL_ACCESS`",
        "operationId": "ExternalProjectsController_getProject",
        "parameters": [
          {
            "name": "X-API-Key",
            "in": "header",
            "description": "Chave de API de integração (pd_live_* para produção, pd_test_* para sandbox)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "ID do projeto",
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Detalhes do projeto",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetProjectOutput"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Buscar projeto por ID",
        "tags": ["External API - Projects"]
      }
    },
    "/transactions/{id}": {
      "get": {
        "description": "Retorna os detalhes de uma transação específica pelo seu ID.\n\n**Permissão requerida:** `TRANSACTION:READ` ou `FULL_ACCESS`",
        "operationId": "ExternalTransactionsController_getTransaction",
        "parameters": [
          {
            "name": "X-API-Key",
            "in": "header",
            "description": "Chave de API de integração (pd_live_* para produção, pd_test_* para sandbox)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "ID da transação",
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Detalhes da transação",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTransactionOutput"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Buscar transação por ID",
        "tags": ["External API - Transactions"]
      }
    },
    "/metrics": {
      "get": {
        "description": "Retorna métricas de receita da conta.\n\n**Permissão requerida:** `METRICS:READ` ou `FULL_ACCESS`",
        "operationId": "ExternalMetricsController_getMetrics",
        "parameters": [
          {
            "name": "X-API-Key",
            "in": "header",
            "description": "Chave de API de integração (pd_live_* para produção, pd_test_* para sandbox)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Métricas de receita da conta",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMetricsOutput"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Permission denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Obter métricas de receita",
        "tags": ["External API - Metrics"]
      }
    },
    "/charges": {
      "post": {
        "description": "Cria um novo link de pagamento único que suporta PIX, cartão de crédito e boleto.\n\n**Permissão requerida:** `CHARGE:WRITE` ou `FULL_ACCESS`",
        "operationId": "ExternalChargesController_createCharge",
        "parameters": [
          {
            "name": "X-API-Key",
            "in": "header",
            "description": "Chave de API de integração (pd_live_* para produção, pd_test_* para sandbox)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateChargeInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Cobrança criada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetChargeOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict - Resource already exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConflictErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Criar uma cobrança (link de pagamento)",
        "tags": ["External API - Charges (Cobrancas)"]
      },
      "get": {
        "description": "Retorna uma lista paginada de todas as cobranças (links de pagamento) da conta.\n\n**Permissão requerida:** `CHARGE:READ` ou `FULL_ACCESS`",
        "operationId": "ExternalChargesController_getAllCharges",
        "parameters": [
          {
            "name": "X-API-Key",
            "in": "header",
            "description": "Chave de API de integração (pd_live_* para produção, pd_test_* para sandbox)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "Número da página",
            "schema": {
              "minimum": 1,
              "default": 1,
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "description": "Itens por página",
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "default": 20,
              "type": "integer"
            }
          },
          {
            "name": "search",
            "required": false,
            "in": "query",
            "description": "Buscar por nome ou slug",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "required": false,
            "in": "query",
            "description": "Filtrar por status",
            "schema": {
              "type": "string",
              "enum": ["active", "expired", "disabled", "paid"]
            }
          },
          {
            "name": "projectId",
            "required": false,
            "in": "query",
            "description": "Filtrar por ID do projeto",
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de cobranças",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAllChargesOutput"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Listar cobranças",
        "tags": ["External API - Charges (Cobrancas)"]
      }
    },
    "/charges/{id}": {
      "get": {
        "description": "Retorna os detalhes de uma cobrança (link de pagamento) específica pelo seu ID.\n\n**Permissão requerida:** `CHARGE:READ` ou `FULL_ACCESS`",
        "operationId": "ExternalChargesController_getCharge",
        "parameters": [
          {
            "name": "X-API-Key",
            "in": "header",
            "description": "Chave de API de integração (pd_live_* para produção, pd_test_* para sandbox)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "ID da cobrança",
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Detalhes da cobrança",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetChargeOutput"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Buscar cobrança por ID",
        "tags": ["External API - Charges (Cobrancas)"]
      }
    },
    "/withdrawals": {
      "post": {
        "description": "Cria um novo saque via PIX. Você pode usar uma conta bancária PIX salva (bankAccountId) ou enviar os dados PIX diretamente (pixKey, pixKeyType, holderName, holderDocument).\n\n**Permissão requerida:** `WITHDRAWAL:WRITE` ou `FULL_ACCESS`\n\n**Restrição de IP:** Este endpoint exige que a chave de API tenha IPs permitidos configurados.",
        "operationId": "ExternalWithdrawalsController_create",
        "parameters": [
          {
            "name": "X-API-Key",
            "in": "header",
            "description": "Chave de API de integração (pd_live_* para produção, pd_test_* para sandbox)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateExternalWithdrawalInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Saque criado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetExternalWithdrawalOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Permission denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Criar um saque via PIX",
        "tags": ["External API - Withdrawals (Saques)"]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "X-API-Key": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "API Key for authentication"
      },
      "X-Account-Id": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Account-Id",
        "description": "Account ID (UUID)"
      },
      "JWT": {
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "type": "http",
        "description": "Keycloak JWT token"
      }
    },
    "schemas": {
      "GetWebhookLogOutput": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Webhook log ID"
          },
          "webhookEndpointId": {
            "type": "string",
            "description": "Webhook endpoint ID"
          },
          "accountId": {
            "type": "string",
            "description": "Account ID"
          },
          "eventType": {
            "type": "string",
            "description": "Event type"
          },
          "eventId": {
            "type": "string",
            "description": "Event ID"
          },
          "status": {
            "type": "string",
            "description": "Delivery status",
            "enum": ["success", "failed", "pending", "retrying"]
          },
          "url": {
            "type": "string",
            "description": "Target URL"
          },
          "httpStatus": {
            "type": "object",
            "description": "HTTP status code"
          },
          "requestHeaders": {
            "type": "object",
            "description": "Request headers"
          },
          "requestPayload": {
            "type": "object",
            "description": "Request payload"
          },
          "responseHeaders": {
            "type": "object",
            "description": "Response headers"
          },
          "responseBody": {
            "type": "object",
            "description": "Response body"
          },
          "attempts": {
            "type": "number",
            "description": "Number of delivery attempts"
          },
          "maxAttempts": {
            "type": "number",
            "description": "Maximum delivery attempts"
          },
          "createdAt": {
            "type": "string",
            "description": "Creation timestamp"
          },
          "lastAttemptAt": {
            "type": "object",
            "description": "Last attempt timestamp"
          },
          "nextRetryAt": {
            "type": "object",
            "description": "Next retry timestamp"
          },
          "durationMs": {
            "type": "object",
            "description": "Request duration in milliseconds"
          }
        },
        "required": [
          "id",
          "webhookEndpointId",
          "accountId",
          "eventType",
          "eventId",
          "status",
          "url",
          "requestHeaders",
          "requestPayload",
          "attempts",
          "maxAttempts",
          "createdAt"
        ]
      },
      "PaginationMeta": {
        "type": "object",
        "properties": {
          "page": {
            "type": "number",
            "example": 1,
            "description": "Current page number"
          },
          "limit": {
            "type": "number",
            "example": 20,
            "description": "Items per page"
          },
          "total": {
            "type": "number",
            "example": 100,
            "description": "Total number of items"
          },
          "totalPages": {
            "type": "number",
            "example": 5,
            "description": "Total number of pages"
          },
          "hasNextPage": {
            "type": "boolean",
            "example": true,
            "description": "Whether there is a next page"
          },
          "hasPreviousPage": {
            "type": "boolean",
            "example": false,
            "description": "Whether there is a previous page"
          }
        },
        "required": [
          "page",
          "limit",
          "total",
          "totalPages",
          "hasNextPage",
          "hasPreviousPage"
        ]
      },
      "GetAllWebhookLogsOutput": {
        "type": "object",
        "properties": {
          "items": {
            "description": "List of webhook logs",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GetWebhookLogOutput"
            }
          },
          "meta": {
            "description": "Pagination metadata",
            "allOf": [
              {
                "$ref": "#/components/schemas/PaginationMeta"
              }
            ]
          }
        },
        "required": ["items", "meta"]
      },
      "BadRequestErrorResponse": {
        "type": "object",
        "properties": {
          "statusCode": {
            "type": "number",
            "example": 400
          },
          "error": {
            "type": "string",
            "example": "BadRequest"
          },
          "message": {
            "type": "string",
            "example": "name must be longer than or equal to 2 characters"
          },
          "details": {
            "type": "object"
          },
          "timestamp": {
            "type": "string",
            "example": "2025-12-15T22:00:00.000Z"
          },
          "traceId": {
            "type": "string"
          }
        },
        "required": ["statusCode", "error", "message", "timestamp"]
      },
      "InternalServerErrorResponse": {
        "type": "object",
        "properties": {
          "statusCode": {
            "type": "number",
            "example": 500
          },
          "error": {
            "type": "string",
            "example": "InternalError"
          },
          "message": {
            "type": "string",
            "example": "An unexpected error occurred"
          },
          "details": {
            "type": "object"
          },
          "timestamp": {
            "type": "string",
            "example": "2025-12-15T22:00:00.000Z"
          },
          "traceId": {
            "type": "string",
            "example": "2771463d58840c8e116dc6dda1e1e5d0"
          }
        },
        "required": ["statusCode", "error", "message", "timestamp"]
      },
      "NotFoundErrorResponse": {
        "type": "object",
        "properties": {
          "statusCode": {
            "type": "number",
            "example": 404
          },
          "error": {
            "type": "string",
            "example": "NotFound"
          },
          "message": {
            "type": "string",
            "example": "Resource with id 550e8400-e29b-41d4-a716-446655440000 not found"
          },
          "details": {
            "type": "object",
            "example": {
              "resource": "Example",
              "id": "550e8400-e29b-41d4-a716-446655440000"
            }
          },
          "timestamp": {
            "type": "string",
            "example": "2025-12-15T22:00:00.000Z"
          },
          "traceId": {
            "type": "string"
          }
        },
        "required": ["statusCode", "error", "message", "timestamp"]
      },
      "CreateTransactionInput": {
        "type": "object",
        "properties": {
          "projectId": {
            "type": "string",
            "description": "Project ID"
          },
          "clientId": {
            "type": "string",
            "description": "Client ID"
          },
          "paymentLinkId": {
            "type": "string",
            "description": "Payment link ID"
          },
          "subscriptionId": {
            "type": "string",
            "description": "Subscription ID"
          },
          "invoiceId": {
            "type": "string",
            "description": "Invoice ID"
          },
          "pspCredentialId": {
            "type": "string",
            "description": "PSP Credential ID that processed this transaction"
          },
          "date": {
            "type": "string",
            "description": "Transaction date"
          },
          "amount": {
            "type": "number",
            "description": "Amount in cents"
          },
          "feeAmount": {
            "type": "number",
            "description": "Fee amount in cents",
            "default": 0
          },
          "netAmount": {
            "type": "number",
            "description": "Net amount in cents"
          },
          "currency": {
            "type": "string",
            "description": "Currency code",
            "default": "BRL"
          },
          "type": {
            "type": "string",
            "description": "Transaction type",
            "enum": ["payment", "fee", "refund", "chargeback", "withdrawal"]
          },
          "status": {
            "type": "string",
            "description": "Transaction status",
            "enum": ["completed", "pending", "failed", "cancelled"]
          },
          "paymentMethod": {
            "type": "string",
            "description": "Payment method",
            "enum": ["ask_customer", "pix", "credit_card", "boleto"]
          },
          "installmentNumber": {
            "type": "number",
            "description": "Installment number"
          },
          "installmentTotal": {
            "type": "number",
            "description": "Total installments"
          },
          "description": {
            "type": "string",
            "description": "Transaction description"
          },
          "failureReason": {
            "type": "string",
            "description": "Failure reason (for failed transactions)"
          },
          "parentTransactionId": {
            "type": "string",
            "description": "Parent transaction ID (for fees linked to payments/withdrawals)"
          },
          "metadata": {
            "type": "object",
            "description": "Additional metadata"
          },
          "ledgerTransferId": {
            "type": "string",
            "description": "Ledger transfer ID"
          },
          "ledgerSyncStatus": {
            "type": "string",
            "description": "Ledger sync status",
            "enum": ["pending", "synced", "failed"]
          },
          "ledgerSyncedAt": {
            "type": "string",
            "description": "Ledger synced timestamp"
          }
        },
        "required": [
          "date",
          "amount",
          "netAmount",
          "type",
          "status",
          "description"
        ]
      },
      "GetTransactionOutput": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "ID da transação",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "description": "Status da transação",
            "enum": ["pending", "completed", "failed", "cancelled"]
          },
          "type": {
            "type": "string",
            "description": "Tipo da transação",
            "enum": ["payment", "fee", "refund", "chargeback", "withdrawal"]
          },
          "paymentMethod": {
            "type": "string",
            "description": "Método de pagamento utilizado",
            "enum": ["pix", "credit_card", "boleto"]
          },
          "amount": {
            "type": "number",
            "description": "Valor em BRL",
            "example": 150.75
          },
          "currency": {
            "type": "string",
            "description": "Código da moeda",
            "example": "BRL"
          },
          "description": {
            "type": "string",
            "description": "Descrição da transação"
          },
          "externalReference": {
            "type": "string",
            "description": "Seu ID de referência externa",
            "example": "pedido-12345"
          },
          "customerId": {
            "type": "string",
            "description": "ID do cliente",
            "format": "uuid"
          },
          "projectId": {
            "type": "string",
            "description": "ID do projeto",
            "format": "uuid"
          },
          "metadata": {
            "type": "object",
            "description": "Metadados personalizados (pares chave-valor)",
            "additionalProperties": true,
            "example": {
              "orderId": "12345",
              "source": "website"
            }
          },
          "pixCopyPaste": {
            "type": "string",
            "description": "Código PIX copia e cola (apenas para transações PIX pendentes)",
            "example": "00020126580014br.gov.bcb.pix0136a1b2c3d4-e5f6-7890-abcd-ef1234567890"
          },
          "expiresAt": {
            "type": "string",
            "description": "Data de expiração (apenas para transações pendentes)",
            "format": "date-time"
          },
          "paidAt": {
            "type": "string",
            "description": "Data em que a transação foi paga",
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "description": "Data de criação",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "description": "Data de atualização",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "status",
          "type",
          "paymentMethod",
          "amount",
          "currency",
          "createdAt"
        ]
      },
      "GetAllTransactionsOutput": {
        "type": "object",
        "properties": {
          "items": {
            "description": "List of transactions",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GetTransactionOutput"
            }
          },
          "meta": {
            "description": "Pagination metadata",
            "allOf": [
              {
                "$ref": "#/components/schemas/PaginationMeta"
              }
            ]
          }
        },
        "required": ["items", "meta"]
      },
      "LedgerAccountOutput": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Ledger account ID (PostgreSQL UUID)"
          },
          "accountId": {
            "type": "object",
            "description": "Account ID (null for system accounts)",
            "nullable": true
          },
          "type": {
            "type": "string",
            "description": "Account type",
            "enum": [
              "available",
              "held",
              "credits",
              "external_world",
              "treasury",
              "grants",
              "treasury_sandbox",
              "external_world_sandbox"
            ]
          },
          "tigerBeetleId": {
            "type": "string",
            "description": "TigerBeetle 128-bit account ID (as string)"
          },
          "ledger": {
            "type": "number",
            "description": "Ledger number"
          },
          "code": {
            "type": "number",
            "description": "Account code"
          },
          "createdAt": {
            "type": "string",
            "description": "Creation timestamp"
          }
        },
        "required": [
          "id",
          "accountId",
          "type",
          "tigerBeetleId",
          "ledger",
          "code",
          "createdAt"
        ]
      },
      "CreateUserAccountsOutput": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "Account ID (from JWT)"
          },
          "available": {
            "description": "Available balance account",
            "allOf": [
              {
                "$ref": "#/components/schemas/LedgerAccountOutput"
              }
            ]
          },
          "held": {
            "description": "Held funds account",
            "allOf": [
              {
                "$ref": "#/components/schemas/LedgerAccountOutput"
              }
            ]
          },
          "credits": {
            "description": "Promotional credits account",
            "allOf": [
              {
                "$ref": "#/components/schemas/LedgerAccountOutput"
              }
            ]
          },
          "created": {
            "type": "boolean",
            "description": "Whether accounts were newly created or already existed"
          }
        },
        "required": ["accountId", "available", "held", "credits", "created"]
      },
      "UnauthorizedErrorResponse": {
        "type": "object",
        "properties": {
          "statusCode": {
            "type": "number",
            "example": 401
          },
          "error": {
            "type": "string",
            "example": "Unauthorized"
          },
          "message": {
            "type": "string",
            "example": "Authentication token is required"
          },
          "details": {
            "type": "object"
          },
          "timestamp": {
            "type": "string",
            "example": "2025-12-15T22:00:00.000Z"
          },
          "traceId": {
            "type": "string"
          }
        },
        "required": ["statusCode", "error", "message", "timestamp"]
      },
      "AccountBalanceOutput": {
        "type": "object",
        "properties": {
          "tigerBeetleId": {
            "type": "string",
            "description": "TigerBeetle account ID (as string)"
          },
          "type": {
            "type": "string",
            "description": "Account type"
          },
          "debitsPending": {
            "type": "string",
            "description": "Debits pending (in cents)"
          },
          "debitsPosted": {
            "type": "string",
            "description": "Debits posted (in cents)"
          },
          "creditsPending": {
            "type": "string",
            "description": "Credits pending (in cents)"
          },
          "creditsPosted": {
            "type": "string",
            "description": "Credits posted (in cents)"
          },
          "balance": {
            "type": "string",
            "description": "Available balance (credits_posted - debits_posted) in cents"
          }
        },
        "required": [
          "tigerBeetleId",
          "type",
          "debitsPending",
          "debitsPosted",
          "creditsPending",
          "creditsPosted",
          "balance"
        ]
      },
      "GetUserBalanceOutput": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "Account ID"
          },
          "available": {
            "description": "Available balance account",
            "allOf": [
              {
                "$ref": "#/components/schemas/AccountBalanceOutput"
              }
            ]
          },
          "held": {
            "description": "Held funds account",
            "allOf": [
              {
                "$ref": "#/components/schemas/AccountBalanceOutput"
              }
            ]
          },
          "credits": {
            "description": "Promotional credits account",
            "allOf": [
              {
                "$ref": "#/components/schemas/AccountBalanceOutput"
              }
            ]
          },
          "totalBalance": {
            "type": "string",
            "description": "Total available balance (available + credits) in cents"
          }
        },
        "required": [
          "accountId",
          "available",
          "held",
          "credits",
          "totalBalance"
        ]
      },
      "GetSystemBalanceOutput": {
        "type": "object",
        "properties": {
          "externalWorld": {
            "description": "External world account (source/sink for payments)",
            "allOf": [
              {
                "$ref": "#/components/schemas/AccountBalanceOutput"
              }
            ]
          },
          "externalWorldSandbox": {
            "description": "External world sandbox account (source/sink for sandbox payments)",
            "allOf": [
              {
                "$ref": "#/components/schemas/AccountBalanceOutput"
              }
            ]
          },
          "treasury": {
            "description": "Treasury account (platform fees)",
            "allOf": [
              {
                "$ref": "#/components/schemas/AccountBalanceOutput"
              }
            ]
          },
          "treasurySandbox": {
            "description": "Treasury sandbox account (platform fees from sandbox)",
            "allOf": [
              {
                "$ref": "#/components/schemas/AccountBalanceOutput"
              }
            ]
          },
          "grants": {
            "description": "Grants account (promotional credits)",
            "allOf": [
              {
                "$ref": "#/components/schemas/AccountBalanceOutput"
              }
            ]
          }
        },
        "required": [
          "externalWorld",
          "externalWorldSandbox",
          "treasury",
          "treasurySandbox",
          "grants"
        ]
      },
      "CreateTransferInput": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "Amount in cents",
            "example": 10000
          },
          "methodKey": {
            "type": "string",
            "description": "Payment method key",
            "example": "pix"
          },
          "projectId": {
            "type": "string",
            "description": "Project ID for project-specific fee lookup"
          },
          "description": {
            "type": "string",
            "description": "Transfer description"
          },
          "metadata": {
            "type": "object",
            "description": "Additional metadata"
          }
        },
        "required": ["amount", "methodKey"]
      },
      "TransferOutput": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Transfer ID (PostgreSQL UUID)"
          },
          "tigerBeetleId": {
            "type": "string",
            "description": "TigerBeetle transfer ID (as string)"
          },
          "accountId": {
            "type": "string",
            "description": "Account ID"
          },
          "type": {
            "type": "string",
            "description": "Transfer type",
            "enum": ["payment", "fee", "settlement"]
          },
          "status": {
            "type": "string",
            "description": "Transfer status",
            "enum": ["pending", "posted", "voided"]
          },
          "debitAccountId": {
            "type": "string",
            "description": "Debit ledger account ID"
          },
          "creditAccountId": {
            "type": "string",
            "description": "Credit ledger account ID"
          },
          "amount": {
            "type": "number",
            "description": "Gross amount in cents"
          },
          "feeAmount": {
            "type": "number",
            "description": "Fee amount in cents"
          },
          "netAmount": {
            "type": "number",
            "description": "Net amount in cents (amount - feeAmount)"
          },
          "balanceImpact": {
            "type": "number",
            "description": "Balance impact in cents (withdrawals: amount + feeAmount debited, payments: netAmount credited)"
          },
          "methodKey": {
            "type": "object",
            "description": "Payment method key"
          },
          "description": {
            "type": "object",
            "description": "Transfer description"
          },
          "linkedTransferId": {
            "type": "object",
            "description": "Linked transfer ID (for fee transfers)"
          },
          "metadata": {
            "type": "object",
            "description": "Additional metadata"
          },
          "createdAt": {
            "type": "string",
            "description": "Creation timestamp"
          },
          "postedAt": {
            "type": "object",
            "description": "Posted timestamp"
          },
          "voidedAt": {
            "type": "object",
            "description": "Voided timestamp"
          },
          "feeTransferId": {
            "type": "object",
            "description": "Fee transfer ID (if fee was charged)"
          }
        },
        "required": [
          "id",
          "tigerBeetleId",
          "accountId",
          "type",
          "status",
          "debitAccountId",
          "creditAccountId",
          "amount",
          "feeAmount",
          "netAmount",
          "balanceImpact",
          "createdAt"
        ]
      },
      "CreateLedgerWithdrawalInput": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "Amount to withdraw in cents",
            "example": 10000
          },
          "methodKey": {
            "type": "string",
            "description": "Withdrawal method key",
            "example": "withdrawal"
          },
          "description": {
            "type": "string",
            "description": "Withdrawal description"
          },
          "metadata": {
            "type": "object",
            "description": "Additional metadata"
          },
          "timeout": {
            "type": "number",
            "description": "Timeout in seconds for pending withdrawal auto-void (0 = no timeout)",
            "example": 86400,
            "minimum": 0,
            "maximum": 2592000
          }
        },
        "required": ["amount", "methodKey"]
      },
      "CreateFeeInput": {
        "type": "object",
        "properties": {
          "projectId": {
            "type": "string",
            "description": "Project ID (optional, null for account-wide fee)"
          },
          "methodKey": {
            "type": "string",
            "description": "Fee method key",
            "enum": ["pix", "credit_card", "boleto", "withdrawal", "refund"],
            "example": "pix"
          },
          "methodDisplayName": {
            "type": "string",
            "description": "Display name for the payment method",
            "example": "PIX"
          },
          "fixedFee": {
            "type": "number",
            "description": "Fixed fee in cents",
            "default": 0,
            "example": 100
          },
          "percentFee": {
            "type": "string",
            "description": "Percentage fee (0.00 to 100.00)",
            "default": "0",
            "example": "2.50"
          },
          "minFee": {
            "type": "number",
            "description": "Minimum fee in cents",
            "example": 50
          },
          "maxFee": {
            "type": "number",
            "description": "Maximum fee in cents",
            "example": 5000
          },
          "settlementDays": {
            "type": "number",
            "description": "Settlement days",
            "default": 0,
            "example": 1
          },
          "isActive": {
            "type": "boolean",
            "description": "Is fee active",
            "default": true
          }
        },
        "required": ["methodKey", "methodDisplayName"]
      },
      "GetFeeOutput": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Fee ID"
          },
          "accountId": {
            "type": "string",
            "description": "Account ID"
          },
          "projectId": {
            "type": "object",
            "description": "Project ID (null for account-wide fee)"
          },
          "methodKey": {
            "type": "string",
            "description": "Payment method key"
          },
          "methodDisplayName": {
            "type": "string",
            "description": "Display name for the payment method"
          },
          "fixedFee": {
            "type": "number",
            "description": "Fixed fee in cents"
          },
          "percentFee": {
            "type": "string",
            "description": "Percentage fee"
          },
          "minFee": {
            "type": "object",
            "description": "Minimum fee in cents"
          },
          "maxFee": {
            "type": "object",
            "description": "Maximum fee in cents"
          },
          "settlementDays": {
            "type": "number",
            "description": "Settlement days"
          },
          "isActive": {
            "type": "boolean",
            "description": "Is fee active"
          },
          "createdAt": {
            "type": "string",
            "description": "Creation timestamp"
          },
          "updatedAt": {
            "type": "object",
            "description": "Last update timestamp"
          }
        },
        "required": [
          "id",
          "accountId",
          "methodKey",
          "methodDisplayName",
          "fixedFee",
          "percentFee",
          "settlementDays",
          "isActive",
          "createdAt"
        ]
      },
      "ConflictErrorResponse": {
        "type": "object",
        "properties": {
          "statusCode": {
            "type": "number",
            "example": 409
          },
          "error": {
            "type": "string",
            "example": "Conflict"
          },
          "message": {
            "type": "string",
            "example": "Resource with name 'Example' already exists"
          },
          "details": {
            "type": "object",
            "example": {
              "resource": "Example",
              "field": "name",
              "value": "Example"
            }
          },
          "timestamp": {
            "type": "string",
            "example": "2025-12-15T22:00:00.000Z"
          },
          "traceId": {
            "type": "string"
          }
        },
        "required": ["statusCode", "error", "message", "timestamp"]
      },
      "GetAllFeesOutput": {
        "type": "object",
        "properties": {
          "items": {
            "description": "List of fees",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GetFeeOutput"
            }
          },
          "meta": {
            "description": "Pagination metadata",
            "allOf": [
              {
                "$ref": "#/components/schemas/PaginationMeta"
              }
            ]
          }
        },
        "required": ["items", "meta"]
      },
      "UpdateFeeInput": {
        "type": "object",
        "properties": {
          "projectId": {
            "type": "object",
            "description": "Project ID (null for account-wide fee)"
          },
          "methodKey": {
            "type": "string",
            "description": "Fee method key",
            "enum": ["pix", "credit_card", "boleto", "withdrawal", "refund"],
            "example": "pix"
          },
          "methodDisplayName": {
            "type": "string",
            "description": "Display name for the payment method",
            "example": "PIX"
          },
          "fixedFee": {
            "type": "number",
            "description": "Fixed fee in cents",
            "example": 100
          },
          "percentFee": {
            "type": "string",
            "description": "Percentage fee (0.00 to 100.00)",
            "example": "2.50"
          },
          "minFee": {
            "type": "object",
            "description": "Minimum fee in cents",
            "example": 50
          },
          "maxFee": {
            "type": "object",
            "description": "Maximum fee in cents",
            "example": 5000
          },
          "settlementDays": {
            "type": "number",
            "description": "Settlement days",
            "example": 1
          },
          "isActive": {
            "type": "boolean",
            "description": "Is fee active"
          }
        }
      },
      "CreateAccountInput": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Account status",
            "enum": ["approved", "pending", "rejected", "suspended"],
            "default": "pending",
            "example": "pending"
          }
        }
      },
      "CreateAccountOutput": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "status": {
            "type": "string",
            "example": "pending",
            "enum": ["approved", "pending", "rejected", "suspended"]
          },
          "createdAt": {
            "type": "string",
            "example": "2025-12-15T22:00:00.000Z"
          }
        },
        "required": ["id", "status", "createdAt"]
      },
      "AccountItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "status": {
            "type": "string",
            "example": "pending",
            "enum": ["approved", "pending", "rejected", "suspended"]
          },
          "createdAt": {
            "type": "string",
            "example": "2025-12-15T22:00:00.000Z"
          }
        },
        "required": ["id", "status", "createdAt"]
      },
      "GetAllAccountsOutput": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AccountItem"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        },
        "required": ["items", "meta"]
      },
      "GetAccountOutput": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "status": {
            "type": "string",
            "example": "pending",
            "enum": ["approved", "pending", "rejected", "suspended"]
          },
          "createdAt": {
            "type": "string",
            "example": "2025-12-15T22:00:00.000Z"
          },
          "updatedAt": {
            "type": "string",
            "example": "2025-12-15T22:00:00.000Z"
          }
        },
        "required": ["id", "status", "createdAt"]
      },
      "UpdateAccountInput": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Account status",
            "enum": ["approved", "pending", "rejected", "suspended"],
            "example": "approved"
          }
        }
      },
      "GetPspCredentialOutput": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Credential ID",
            "format": "uuid"
          },
          "accountId": {
            "type": "string",
            "description": "Account ID",
            "format": "uuid"
          },
          "provider": {
            "type": "string",
            "enum": ["avista", "asaas"],
            "description": "PSP provider"
          },
          "name": {
            "type": "string",
            "description": "Friendly name"
          },
          "isActive": {
            "type": "boolean",
            "description": "Whether credential is active"
          },
          "createdAt": {
            "type": "string",
            "description": "Creation timestamp",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "description": "Last update timestamp",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "accountId",
          "provider",
          "name",
          "isActive",
          "createdAt"
        ]
      },
      "GetAllPspCredentialsOutput": {
        "type": "object",
        "properties": {
          "items": {
            "description": "List of PSP credentials",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GetPspCredentialOutput"
            }
          }
        },
        "required": ["items"]
      },
      "AsaasCredentialsInput": {
        "type": "object",
        "properties": {
          "apiKey": {
            "type": "string",
            "description": "Asaas API key",
            "example": "$aact_YourApiKey"
          },
          "sandbox": {
            "type": "boolean",
            "description": "Use sandbox environment (homologation)",
            "default": false
          }
        },
        "required": ["apiKey"]
      },
      "AvistaCredentialsInput": {
        "type": "object",
        "properties": {
          "clientId": {
            "type": "string",
            "description": "Avista client ID"
          },
          "clientSecret": {
            "type": "string",
            "description": "Avista client secret"
          }
        },
        "required": ["clientId", "clientSecret"]
      },
      "CreatePspCredentialInput": {
        "type": "object",
        "properties": {
          "provider": {
            "type": "string",
            "enum": ["avista", "asaas", "mock"],
            "description": "PSP provider"
          },
          "name": {
            "type": "string",
            "description": "Friendly name for the credential",
            "maxLength": 100
          },
          "credentials": {
            "description": "PSP API credentials object (will be encrypted)",
            "oneOf": [
              {
                "$ref": "#/components/schemas/AsaasCredentialsInput"
              },
              {
                "$ref": "#/components/schemas/AvistaCredentialsInput"
              }
            ]
          }
        },
        "required": ["provider", "name", "credentials"]
      },
      "UpdatePspCredentialInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Friendly name for the credential",
            "maxLength": 100
          },
          "credentials": {
            "description": "PSP API credentials object (will be encrypted)",
            "oneOf": [
              {
                "$ref": "#/components/schemas/AsaasCredentialsInput"
              },
              {
                "$ref": "#/components/schemas/AvistaCredentialsInput"
              }
            ]
          }
        }
      },
      "PaymentMethodConfigOutput": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Configuration ID",
            "format": "uuid"
          },
          "paymentMethod": {
            "type": "string",
            "enum": ["pix", "credit_card", "boleto"],
            "description": "Payment method"
          },
          "pspCredentialId": {
            "type": "string",
            "description": "PSP credential ID",
            "format": "uuid"
          },
          "isEnabled": {
            "type": "boolean",
            "description": "Whether method is enabled"
          },
          "isDefault": {
            "type": "boolean",
            "description": "Whether this is the default PSP for the payment method"
          },
          "settings": {
            "type": "object",
            "description": "Method-specific settings"
          },
          "createdAt": {
            "type": "string",
            "description": "Creation timestamp",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "description": "Last update timestamp",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "paymentMethod",
          "pspCredentialId",
          "isEnabled",
          "isDefault",
          "createdAt"
        ]
      },
      "GetAccountPaymentMethodsOutput": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "Account ID",
            "format": "uuid"
          },
          "methods": {
            "description": "Configured payment methods",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PaymentMethodConfigOutput"
            }
          }
        },
        "required": ["accountId", "methods"]
      },
      "PaymentMethodSettingsInput": {
        "type": "object",
        "properties": {
          "expirationMinutes": {
            "type": "number",
            "description": "PIX expiration time in minutes",
            "minimum": 5,
            "maximum": 1440
          },
          "maxInstallments": {
            "type": "number",
            "description": "Maximum installments allowed",
            "minimum": 1,
            "maximum": 12
          },
          "minInstallmentValue": {
            "type": "number",
            "description": "Minimum value per installment in cents",
            "minimum": 500
          },
          "daysUntilDue": {
            "type": "number",
            "description": "Days until boleto due date",
            "minimum": 1,
            "maximum": 30
          },
          "instructions": {
            "type": "string",
            "description": "Payment instructions",
            "maxLength": 500
          }
        }
      },
      "ConfigurePaymentMethodInput": {
        "type": "object",
        "properties": {
          "paymentMethod": {
            "type": "string",
            "enum": ["pix", "credit_card", "boleto"],
            "description": "Payment method to configure"
          },
          "pspCredentialId": {
            "type": "string",
            "description": "PSP credential ID to use for this method",
            "format": "uuid"
          },
          "isDefault": {
            "type": "boolean",
            "description": "Set this configuration as default for the payment method",
            "default": false
          },
          "settings": {
            "description": "Method-specific settings",
            "allOf": [
              {
                "$ref": "#/components/schemas/PaymentMethodSettingsInput"
              }
            ]
          }
        },
        "required": ["paymentMethod", "pspCredentialId"]
      },
      "UpdatePaymentMethodInput": {
        "type": "object",
        "properties": {
          "pspCredentialId": {
            "type": "string",
            "description": "PSP credential ID to use for this method",
            "format": "uuid"
          },
          "settings": {
            "description": "Method-specific settings",
            "allOf": [
              {
                "$ref": "#/components/schemas/PaymentMethodSettingsInput"
              }
            ]
          }
        }
      },
      "SetDefaultPaymentMethodInput": {
        "type": "object",
        "properties": {
          "pspCredentialId": {
            "type": "string",
            "description": "PSP credential ID to set as default",
            "format": "uuid"
          }
        },
        "required": ["pspCredentialId"]
      },
      "CreateNotificationInput": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "string",
            "description": "User ID to target specific user"
          },
          "type": {
            "type": "string",
            "description": "Notification type",
            "enum": [
              "payment",
              "refund",
              "chargeback",
              "withdrawal",
              "subscription",
              "system"
            ]
          },
          "title": {
            "type": "string",
            "description": "Notification title"
          },
          "description": {
            "type": "string",
            "description": "Notification description"
          },
          "amount": {
            "type": "number",
            "description": "Related amount in cents"
          },
          "entityType": {
            "type": "string",
            "description": "Related entity type"
          },
          "entityId": {
            "type": "string",
            "description": "Related entity ID"
          }
        },
        "required": ["type", "title", "description"]
      },
      "GetNotificationOutput": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Notification ID"
          },
          "accountId": {
            "type": "string",
            "description": "Account ID"
          },
          "userId": {
            "type": "object",
            "description": "User ID"
          },
          "type": {
            "type": "string",
            "description": "Notification type",
            "enum": [
              "payment",
              "refund",
              "chargeback",
              "withdrawal",
              "subscription",
              "system"
            ]
          },
          "title": {
            "type": "string",
            "description": "Notification title"
          },
          "description": {
            "type": "string",
            "description": "Notification description"
          },
          "amount": {
            "type": "object",
            "description": "Related amount in cents"
          },
          "entityType": {
            "type": "object",
            "description": "Related entity type"
          },
          "entityId": {
            "type": "object",
            "description": "Related entity ID"
          },
          "read": {
            "type": "boolean",
            "description": "Read status"
          },
          "readAt": {
            "type": "object",
            "description": "Read timestamp"
          },
          "createdAt": {
            "type": "string",
            "description": "Creation timestamp"
          }
        },
        "required": [
          "id",
          "accountId",
          "type",
          "title",
          "description",
          "read",
          "createdAt"
        ]
      },
      "GetAllNotificationsOutput": {
        "type": "object",
        "properties": {
          "items": {
            "description": "List of notifications",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GetNotificationOutput"
            }
          },
          "meta": {
            "description": "Pagination metadata",
            "allOf": [
              {
                "$ref": "#/components/schemas/PaginationMeta"
              }
            ]
          }
        },
        "required": ["items", "meta"]
      },
      "UpdateNotificationInput": {
        "type": "object",
        "properties": {
          "read": {
            "type": "boolean",
            "description": "Mark as read"
          }
        }
      },
      "CreateWebhookEndpointInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Webhook endpoint name"
          },
          "environment": {
            "type": "string",
            "description": "Environment for this webhook",
            "enum": ["production", "sandbox"],
            "default": "production"
          },
          "url": {
            "type": "string",
            "description": "Webhook URL to receive events"
          },
          "secret": {
            "type": "string",
            "description": "Secret for signing payloads"
          },
          "events": {
            "description": "Events to subscribe to",
            "example": ["payment_completed", "subscription_created"],
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "headers": {
            "type": "object",
            "description": "Custom headers to send with webhook requests"
          },
          "isActive": {
            "type": "boolean",
            "description": "Whether the endpoint is active",
            "default": true
          }
        },
        "required": ["name", "environment", "url", "secret", "events"]
      },
      "GetWebhookEndpointOutput": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Webhook endpoint ID"
          },
          "accountId": {
            "type": "string",
            "description": "Account ID"
          },
          "name": {
            "type": "string",
            "description": "Webhook endpoint name"
          },
          "environment": {
            "type": "string",
            "description": "Environment",
            "enum": ["production", "sandbox"]
          },
          "url": {
            "type": "string",
            "description": "Webhook URL"
          },
          "secretPrefix": {
            "type": "string",
            "description": "Secret prefix (for display)"
          },
          "events": {
            "description": "Subscribed events",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "headers": {
            "type": "object",
            "description": "Custom headers"
          },
          "isActive": {
            "type": "boolean",
            "description": "Whether the endpoint is active"
          },
          "failureCount": {
            "type": "number",
            "description": "Consecutive failure count"
          },
          "lastSuccessAt": {
            "type": "object",
            "description": "Last successful delivery timestamp"
          },
          "lastFailureAt": {
            "type": "object",
            "description": "Last failed delivery timestamp"
          },
          "disabledAt": {
            "type": "object",
            "description": "Disabled timestamp"
          },
          "createdAt": {
            "type": "string",
            "description": "Creation timestamp"
          },
          "updatedAt": {
            "type": "object",
            "description": "Last update timestamp"
          }
        },
        "required": [
          "id",
          "accountId",
          "name",
          "environment",
          "url",
          "secretPrefix",
          "events",
          "isActive",
          "failureCount",
          "createdAt"
        ]
      },
      "GetAllWebhookEndpointsOutput": {
        "type": "object",
        "properties": {
          "items": {
            "description": "List of webhook endpoints",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GetWebhookEndpointOutput"
            }
          },
          "meta": {
            "description": "Pagination metadata",
            "allOf": [
              {
                "$ref": "#/components/schemas/PaginationMeta"
              }
            ]
          }
        },
        "required": ["items", "meta"]
      },
      "UpdateWebhookEndpointInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Webhook endpoint name"
          },
          "url": {
            "type": "string",
            "description": "Webhook URL"
          },
          "events": {
            "description": "Events to subscribe to",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "headers": {
            "type": "object",
            "description": "Custom headers"
          },
          "isActive": {
            "type": "boolean",
            "description": "Whether the endpoint is active"
          }
        }
      },
      "CreatePaymentLinkInput": {
        "type": "object",
        "properties": {
          "projectId": {
            "type": "string",
            "description": "Project ID"
          },
          "clientId": {
            "type": "string",
            "description": "Client ID (for pre-assigned links)"
          },
          "name": {
            "type": "string",
            "description": "Payment link name",
            "example": "Premium Subscription"
          },
          "description": {
            "type": "string",
            "description": "Payment link description"
          },
          "amount": {
            "type": "number",
            "description": "Amount in cents (null for open amount)"
          },
          "currency": {
            "type": "string",
            "description": "Currency code",
            "default": "BRL"
          },
          "status": {
            "type": "string",
            "description": "Payment link status",
            "enum": ["active", "expired", "disabled", "paid"],
            "default": "active"
          },
          "slug": {
            "type": "string",
            "description": "Unique URL slug",
            "example": "premium-2024"
          },
          "paymentType": {
            "type": "string",
            "description": "Payment type",
            "enum": ["one_time", "subscription"]
          },
          "paymentMethods": {
            "description": "Accepted payment methods",
            "example": ["pix", "credit_card"],
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "maxInstallments": {
            "type": "number",
            "description": "Maximum number of installments",
            "default": 1
          },
          "recurrenceInterval": {
            "type": "string",
            "description": "Recurrence interval (for subscriptions)",
            "enum": [
              "daily",
              "weekly",
              "biweekly",
              "monthly",
              "quarterly",
              "semiannual",
              "yearly"
            ]
          },
          "recurrenceCount": {
            "type": "number",
            "description": "Number of recurrence cycles (null for indefinite)"
          },
          "notifications": {
            "description": "Notification channels",
            "example": ["email", "whatsapp"],
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "allowCoupons": {
            "type": "boolean",
            "description": "Allow coupon codes",
            "default": true
          },
          "expiresAt": {
            "type": "string",
            "description": "Link expiration date"
          }
        },
        "required": [
          "projectId",
          "name",
          "slug",
          "paymentType",
          "paymentMethods",
          "notifications"
        ]
      },
      "GetPaymentLinkOutput": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Payment link ID"
          },
          "accountId": {
            "type": "string",
            "description": "Account ID"
          },
          "projectId": {
            "type": "string",
            "description": "Project ID"
          },
          "clientId": {
            "type": "object",
            "description": "Client ID"
          },
          "name": {
            "type": "string",
            "description": "Payment link name"
          },
          "description": {
            "type": "object",
            "description": "Description"
          },
          "amount": {
            "type": "object",
            "description": "Amount in cents"
          },
          "currency": {
            "type": "string",
            "description": "Currency code"
          },
          "status": {
            "type": "string",
            "description": "Status",
            "enum": ["active", "expired", "disabled", "paid"]
          },
          "slug": {
            "type": "string",
            "description": "URL slug"
          },
          "paymentsCount": {
            "type": "number",
            "description": "Number of payments received"
          },
          "totalCollected": {
            "type": "number",
            "description": "Total amount collected in cents"
          },
          "paymentType": {
            "type": "string",
            "description": "Payment type",
            "enum": ["one_time", "subscription"]
          },
          "paymentMethods": {
            "description": "Accepted payment methods",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "maxInstallments": {
            "type": "number",
            "description": "Maximum installments"
          },
          "recurrenceInterval": {
            "type": "object",
            "description": "Recurrence interval"
          },
          "recurrenceCount": {
            "type": "object",
            "description": "Number of recurrence cycles"
          },
          "notifications": {
            "description": "Notification channels",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "allowCoupons": {
            "type": "boolean",
            "description": "Allow coupons"
          },
          "expiresAt": {
            "type": "object",
            "description": "Expiration date"
          },
          "createdAt": {
            "type": "string",
            "description": "Creation timestamp"
          },
          "updatedAt": {
            "type": "object",
            "description": "Last update timestamp"
          }
        },
        "required": [
          "id",
          "accountId",
          "projectId",
          "name",
          "currency",
          "status",
          "slug",
          "paymentsCount",
          "totalCollected",
          "paymentType",
          "paymentMethods",
          "maxInstallments",
          "notifications",
          "allowCoupons",
          "createdAt"
        ]
      },
      "GetAllPaymentLinksOutput": {
        "type": "object",
        "properties": {
          "items": {
            "description": "List of payment links",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GetPaymentLinkOutput"
            }
          },
          "meta": {
            "description": "Pagination metadata",
            "allOf": [
              {
                "$ref": "#/components/schemas/PaginationMeta"
              }
            ]
          }
        },
        "required": ["items", "meta"]
      },
      "UpdatePaymentLinkInput": {
        "type": "object",
        "properties": {
          "projectId": {
            "type": "string",
            "description": "Project ID"
          },
          "clientId": {
            "type": "object",
            "description": "Client ID (for pre-assigned links)"
          },
          "name": {
            "type": "string",
            "description": "Payment link name",
            "example": "Premium Subscription"
          },
          "description": {
            "type": "object",
            "description": "Payment link description"
          },
          "amount": {
            "type": "object",
            "description": "Amount in cents (null for open amount)"
          },
          "currency": {
            "type": "string",
            "description": "Currency code"
          },
          "status": {
            "type": "string",
            "description": "Payment link status",
            "enum": ["active", "expired", "disabled", "paid"]
          },
          "slug": {
            "type": "string",
            "description": "Unique URL slug",
            "example": "premium-2024"
          },
          "paymentType": {
            "type": "string",
            "description": "Payment type",
            "enum": ["one_time", "subscription"]
          },
          "paymentMethods": {
            "description": "Accepted payment methods",
            "example": ["pix", "credit_card"],
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "maxInstallments": {
            "type": "number",
            "description": "Maximum number of installments"
          },
          "recurrenceInterval": {
            "type": "string",
            "description": "Recurrence interval (for subscriptions)",
            "enum": [
              "daily",
              "weekly",
              "biweekly",
              "monthly",
              "quarterly",
              "semiannual",
              "yearly"
            ]
          },
          "recurrenceCount": {
            "type": "object",
            "description": "Number of recurrence cycles"
          },
          "notifications": {
            "description": "Notification channels",
            "example": ["email", "whatsapp"],
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "allowCoupons": {
            "type": "boolean",
            "description": "Allow coupon codes"
          },
          "expiresAt": {
            "type": "object",
            "description": "Link expiration date"
          }
        }
      },
      "PublicCompanyInfoOutput": {
        "type": "object",
        "properties": {
          "razaoSocial": {
            "type": "string",
            "description": "Company legal name (Razão Social)"
          },
          "nomeFantasia": {
            "type": "object",
            "description": "Trade name (Nome Fantasia)"
          },
          "cnpj": {
            "type": "string",
            "description": "Company CNPJ"
          },
          "email": {
            "type": "string",
            "description": "Company email"
          },
          "phone": {
            "type": "string",
            "description": "Company phone"
          }
        },
        "required": ["razaoSocial", "cnpj", "email", "phone"]
      },
      "PublicProjectOutput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Project name"
          },
          "description": {
            "type": "object",
            "description": "Project description"
          },
          "color": {
            "type": "string",
            "description": "Project color"
          },
          "logoUrl": {
            "type": "object",
            "description": "Project logo URL"
          }
        },
        "required": ["name", "color"]
      },
      "GetPublicPaymentLinkOutput": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Payment link ID"
          },
          "name": {
            "type": "string",
            "description": "Payment link name"
          },
          "status": {
            "type": "string",
            "description": "Payment link status",
            "enum": ["active", "expired", "disabled", "paid"]
          },
          "description": {
            "type": "object",
            "description": "Description"
          },
          "amount": {
            "type": "object",
            "description": "Amount in cents"
          },
          "currency": {
            "type": "string",
            "description": "Currency code"
          },
          "paymentType": {
            "type": "string",
            "description": "Payment type",
            "enum": ["one_time", "subscription"]
          },
          "paymentMethods": {
            "description": "Accepted payment methods",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "maxInstallments": {
            "type": "number",
            "description": "Maximum installments"
          },
          "allowCoupons": {
            "type": "boolean",
            "description": "Allow coupons"
          },
          "hasClient": {
            "type": "boolean",
            "description": "Whether a client is already associated with this payment link"
          },
          "clientId": {
            "type": "object",
            "description": "Client ID if already associated"
          },
          "expiresAt": {
            "type": "object",
            "description": "Expiration date"
          },
          "company": {
            "description": "Company information",
            "allOf": [
              {
                "$ref": "#/components/schemas/PublicCompanyInfoOutput"
              }
            ]
          },
[...]
